body {
  font-size: 16px;
  
}

li {
  padding: 4px;
  font-size: 16px;
  color: rgb(95, 99, 104);
}


p {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  color: rgb(95, 99, 104);

}
img {
  margin-top: 16px;
  margin-bottom: 16px;
  float: none;
  border: 1px solid #eaeaea;
  box-sizing: content-box;
}

.imgContainer {
  position: relative;
  width: 100%;
}

.imgOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000;
}

.imgContainer:hover .imgOverlay {
  opacity: 0.6;
}

.imgText {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.textDiv {
  max-width: 860px;
}

.spacer {
  width: 100%;
  height: 24px;
}

.noStyle {
  list-style-type: none;
  padding: 0px;
  line-height: 28px;
  margin: 0px;
}

.md-layout-item img {
  margin: 0px;
  border: 0px;
}

/*-----------------Transition Stylin'------------------*/

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}

.page-enter {
  opacity: 0;
  transform: translateZ(-30%);
}
.page-leave-to {
  opacity: 0;
  transform: translateZ(-30%);
}

.md-app-content .md-title {
  color: #202124 !important;
  font-weight: 400 !important;
}

.md-app-content .md-display-3 {
  color: #202124 !important;
    font-weight: 400 !important;
}

.md-app-content .md-display-2 {
  color: #202124 !important;
    font-weight: 400 !important;
}

.md-app-content .md-display-1 {
  color: #202124 !important;
    font-weight: 400 !important;
}