<template>
<div>
  <div id="tridiv">
  <div class="scene" style="-webkit-transform:rotateX(264deg) rotateY(-4deg); -moz-transform:rotateX(264deg) rotateY(-4deg); -ms-transform:rotateX(264deg) rotateY(-4deg); transform:rotateX(264deg) rotateY(-4deg); ">
    <div class="shape cuboid-1 cub-1">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-2 cub-2">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-3 cub-3">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-4 cub-4">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-5 cub-5">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-6 cub-6">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-7 cub-7">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-8 cub-8">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-9 cub-9">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-10 cub-10">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-11 cub-11">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-12 cub-12">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-13 cub-13">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-14 cub-14">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-15 cub-15">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-16 cub-16">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-17 cub-17">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-18 cub-18">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-19 cub-19">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-20 cub-20">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-21 cub-21">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-22 cub-22">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-23 cub-23">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-24 cub-24">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-25 cub-25">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-26 cub-26">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-27 cub-27">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-28 cub-28">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-29 cub-29">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-30 cub-30">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
    <div class="shape cuboid-31 cub-31">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.223529);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.372549);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.301961);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.298039);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.67451);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0745098);"></div>
      </div>
    </div>
  </div>
</div>
  </div>
</template>

<script>

</script>

<style lang="css" scoped>

#tridiv {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #eee;
  font-size: 75%;
}
.face {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
  -webkit-animation-duration: 15s;
  -webkit-animation-name: moveAround;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
}
/* animation */
  @-webkit-keyframes moveAround {
  0% {
    -webkit-transform: rotateX(266deg) rotateY(0deg) translate(-150px, -110px);
  }
  25% {
    -webkit-transform: rotateX(300deg) rotateY(16deg) translate(-110px, -140px);
  }
  50% {
    -webkit-transform: rotateX(334deg) rotateY(-17deg) translate(120px, -110px);
  }
  75% {
    -webkit-transform: rotateX(318deg) rotateY(-4deg) translate(-150px, -170px);
  }
  100% {
    -webkit-transform: rotateX(373deg) rotateY(15deg) translate(-140px, -110px);
  }
}

.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
}
.face, .face-wrapper {
  overflow: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face {
  background-size: 100% 100%!important;
  background-position: center;
}
.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%;
}
.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.side {
  left: 50%;
}
.cr, .cr .side {
  height: 100%;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
}
[class*="cuboid"] .rt {
  -webkit-transform: rotateY(-90deg) translateX(-50%);
  -moz-transform: rotateY(-90deg) translateX(-50%);
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  -webkit-transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
  -webkit-transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
  -webkit-transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}
/* .cub-1 styles */
.cub-1 {
  -webkit-transform:translate3D(2em, 1em, 2em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-1 .ft {
  -webkit-transform:translateZ(10em);
}
.cub-1 .bk {
  -webkit-transform:translateZ(-10em) rotateY(180deg);
}
.cub-1 .rt, .cub-1 .lt {
  width:20em;
  height:4em;
}
.cub-1 .tp, .cub-1 .bm {
  width:4em;
  height:20em;
}
.cub-1 .face {
  background-color:#FFFFFF;
}
/* .cub-2 styles */
.cub-2 {
  -webkit-transform:translate3D(9em, 1em, -6em) rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-2 .ft {
  -webkit-transform:translateZ(5em);
}
.cub-2 .bk {
  -webkit-transform:translateZ(-5em) rotateY(180deg);
}
.cub-2 .rt, .cub-2 .lt {
  width:10em;
  height:4em;
}
.cub-2 .tp, .cub-2 .bm {
  width:4em;
  height:10em;
}
.cub-2 .face {
  background-color:#FFFFFF;
}
/* .cub-3 styles */
.cub-3 {
  -webkit-transform:translate3D(9em, 1em, 10em) rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-3 .ft {
  -webkit-transform:translateZ(5em);
}
.cub-3 .bk {
  -webkit-transform:translateZ(-5em) rotateY(180deg);
}
.cub-3 .rt, .cub-3 .lt {
  width:10em;
  height:4em;
}
.cub-3 .tp, .cub-3 .bm {
  width:4em;
  height:10em;
}
.cub-3 .face {
  background-color:#FFFFFF;
}
/* .cub-4 styles */
.cub-4 {
  -webkit-transform:translate3D(16em, 1em, 2em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-4 .ft {
  -webkit-transform:translateZ(10em);
}
.cub-4 .bk {
  -webkit-transform:translateZ(-10em) rotateY(180deg);
}
.cub-4 .rt, .cub-4 .lt {
  width:20em;
  height:4em;
}
.cub-4 .tp, .cub-4 .bm {
  width:4em;
  height:20em;
}
.cub-4 .face {
  background-color:#FFFFFF;
}
/* .cub-5 styles */
.cub-5 {
  -webkit-transform:translate3D(-16em, -1em, 2em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-5 .ft {
  -webkit-transform:translateZ(10em);
}
.cub-5 .bk {
  -webkit-transform:translateZ(-10em) rotateY(180deg);
}
.cub-5 .rt, .cub-5 .lt {
  width:20em;
  height:4em;
}
.cub-5 .tp, .cub-5 .bm {
  width:4em;
  height:20em;
}
.cub-5 .face {
  background-color:#ffffff;
}
/* .cub-6 styles */
.cub-6 {
  -webkit-transform:translate3D(-9em, -1em, 10em) rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-6 .ft {
  -webkit-transform:translateZ(5em);
}
.cub-6 .bk {
  -webkit-transform:translateZ(-5em) rotateY(180deg);
}
.cub-6 .rt, .cub-6 .lt {
  width:10em;
  height:4em;
}
.cub-6 .tp, .cub-6 .bm {
  width:4em;
  height:10em;
}
.cub-6 .face {
  background-color:#ffffff;
}
/* .cub-7 styles */
.cub-7 {
  -webkit-transform:translate3D(-8em, -1em, 10em) rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-7 .ft {
  -webkit-transform:translateZ(5em);
}
.cub-7 .bk {
  -webkit-transform:translateZ(-5em) rotateY(180deg);
}
.cub-7 .rt, .cub-7 .lt {
  width:10em;
  height:4em;
}
.cub-7 .tp, .cub-7 .bm {
  width:4em;
  height:10em;
}
.cub-7 .face {
  background-color:#ffffff;
}
/* .cub-8 styles */
.cub-8 {
  -webkit-transform:translate3D(24.5em, 3em, 2em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-8 .ft {
  -webkit-transform:translateZ(10em);
}
.cub-8 .bk {
  -webkit-transform:translateZ(-10em) rotateY(180deg);
}
.cub-8 .rt, .cub-8 .lt {
  width:20em;
  height:4em;
}
.cub-8 .tp, .cub-8 .bm {
  width:4em;
  height:20em;
}
.cub-8 .face {
  background-color:#FFFFFF;
}
/* .cub-9 styles */
.cub-9 {
  -webkit-transform:translate3D(31.5em, 3em, 10em) rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-9 .ft {
  -webkit-transform:translateZ(5em);
}
.cub-9 .bk {
  -webkit-transform:translateZ(-5em) rotateY(180deg);
}
.cub-9 .rt, .cub-9 .lt {
  width:10em;
  height:4em;
}
.cub-9 .tp, .cub-9 .bm {
  width:4em;
  height:10em;
}
.cub-9 .face {
  background-color:#FFFFFF;
}
/* .cub-10 styles */
.cub-10 {
  -webkit-transform:translate3D(32.5em, 3em, 10em) rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:4em;
  margin:-2em 0 0 -2em;
}
.cub-10 .ft {
  -webkit-transform:translateZ(5em);
}
.cub-10 .bk {
  -webkit-transform:translateZ(-5em) rotateY(180deg);
}
.cub-10 .rt, .cub-10 .lt {
  width:10em;
  height:4em;
}
.cub-10 .tp, .cub-10 .bm {
  width:4em;
  height:10em;
}
.cub-10 .face {
  background-color:#FFFFFF;
}
/* .cub-11 styles */
.cub-11 {
  -webkit-transform:translate3D(-11.5em, -1.5em, -5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:2em;
  height:2em;
  margin:-1em 0 0 -1em;
}
.cub-11 .ft {
  -webkit-transform:translateZ(1em);
}
.cub-11 .bk {
  -webkit-transform:translateZ(-1em) rotateY(180deg);
}
.cub-11 .rt, .cub-11 .lt {
  width:2em;
  height:2em;
}
.cub-11 .tp, .cub-11 .bm {
  width:2em;
  height:2em;
}
.cub-11 .face {
  background-color:#FFFFFF;
}
/* .cub-12 styles */
.cub-12 {
  -webkit-transform:translate3D(-20em, -1em, -2.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:2em;
  height:2em;
  margin:-1em 0 0 -1em;
}
.cub-12 .ft {
  -webkit-transform:translateZ(1em);
}
.cub-12 .bk {
  -webkit-transform:translateZ(-1em) rotateY(180deg);
}
.cub-12 .rt, .cub-12 .lt {
  width:2em;
  height:2em;
}
.cub-12 .tp, .cub-12 .bm {
  width:2em;
  height:2em;
}
.cub-12 .face {
  background-color:#FFFFFF;
}
/* .cub-13 styles */
.cub-13 {
  -webkit-transform:translate3D(-11.5em, -2.5em, 3.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:2em;
  height:2em;
  margin:-1em 0 0 -1em;
}
.cub-13 .ft {
  -webkit-transform:translateZ(1em);
}
.cub-13 .bk {
  -webkit-transform:translateZ(-1em) rotateY(180deg);
}
.cub-13 .rt, .cub-13 .lt {
  width:2em;
  height:2em;
}
.cub-13 .tp, .cub-13 .bm {
  width:2em;
  height:2em;
}
.cub-13 .face {
  background-color:#FFFFFF;
}
/* .cub-14 styles */
.cub-14 {
  -webkit-transform:translate3D(-15em, -1.5em, 14em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:2em;
  height:2em;
  margin:-1em 0 0 -1em;
}
.cub-14 .ft {
  -webkit-transform:translateZ(1em);
}
.cub-14 .bk {
  -webkit-transform:translateZ(-1em) rotateY(180deg);
}
.cub-14 .rt, .cub-14 .lt {
  width:2em;
  height:2em;
}
.cub-14 .tp, .cub-14 .bm {
  width:2em;
  height:2em;
}
.cub-14 .face {
  background-color:#FFFFFF;
}
/* .cub-15 styles */
.cub-15 {
  -webkit-transform:translate3D(3em, 0.5em, -10em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:2em;
  height:2em;
  margin:-1em 0 0 -1em;
}
.cub-15 .ft {
  -webkit-transform:translateZ(1em);
}
.cub-15 .bk {
  -webkit-transform:translateZ(-1em) rotateY(180deg);
}
.cub-15 .rt, .cub-15 .lt {
  width:2em;
  height:2em;
}
.cub-15 .tp, .cub-15 .bm {
  width:2em;
  height:2em;
}
.cub-15 .face {
  background-color:#FFFFFF;
}
/* .cub-16 styles */
.cub-16 {
  -webkit-transform:translate3D(12em, 2.5em, 14em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:2em;
  height:2em;
  margin:-1em 0 0 -1em;
}
.cub-16 .ft {
  -webkit-transform:translateZ(1em);
}
.cub-16 .bk {
  -webkit-transform:translateZ(-1em) rotateY(180deg);
}
.cub-16 .rt, .cub-16 .lt {
  width:2em;
  height:2em;
}
.cub-16 .tp, .cub-16 .bm {
  width:2em;
  height:2em;
}
.cub-16 .face {
  background-color:#FFFFFF;
}
/* .cub-17 styles */
.cub-17 {
  -webkit-transform:translate3D(28.5em, 3.5em, -6.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:2em;
  height:2em;
  margin:-1em 0 0 -1em;
}
.cub-17 .ft {
  -webkit-transform:translateZ(1em);
}
.cub-17 .bk {
  -webkit-transform:translateZ(-1em) rotateY(180deg);
}
.cub-17 .rt, .cub-17 .lt {
  width:2em;
  height:2em;
}
.cub-17 .tp, .cub-17 .bm {
  width:2em;
  height:2em;
}
.cub-17 .face {
  background-color:#FFFFFF;
}
/* .cub-18 styles */
.cub-18 {
  -webkit-transform:translate3D(35.5em, 4.5em, 1.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:2em;
  height:2em;
  margin:-1em 0 0 -1em;
}
.cub-18 .ft {
  -webkit-transform:translateZ(1em);
}
.cub-18 .bk {
  -webkit-transform:translateZ(-1em) rotateY(180deg);
}
.cub-18 .rt, .cub-18 .lt {
  width:2em;
  height:2em;
}
.cub-18 .tp, .cub-18 .bm {
  width:2em;
  height:2em;
}
.cub-18 .face {
  background-color:#FFFFFF;
}
/* .cub-19 styles */
.cub-19 {
  -webkit-transform:translate3D(20em, 3.5em, 3em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:2em;
  height:2em;
  margin:-1em 0 0 -1em;
}
.cub-19 .ft {
  -webkit-transform:translateZ(1em);
}
.cub-19 .bk {
  -webkit-transform:translateZ(-1em) rotateY(180deg);
}
.cub-19 .rt, .cub-19 .lt {
  width:2em;
  height:2em;
}
.cub-19 .tp, .cub-19 .bm {
  width:2em;
  height:2em;
}
.cub-19 .face {
  background-color:#FFFFFF;
}
/* .cub-20 styles */
.cub-20 {
  -webkit-transform:translate3D(7em, -0.5em, 3.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:2em;
  height:2em;
  margin:-1em 0 0 -1em;
}
.cub-20 .ft {
  -webkit-transform:translateZ(1em);
}
.cub-20 .bk {
  -webkit-transform:translateZ(-1em) rotateY(180deg);
}
.cub-20 .rt, .cub-20 .lt {
  width:2em;
  height:2em;
}
.cub-20 .tp, .cub-20 .bm {
  width:2em;
  height:2em;
}
.cub-20 .face {
  background-color:#FFFFFF;
}
/* .cub-21 styles */
.cub-21 {
  -webkit-transform:translate3D(23em, 3.5em, 14em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:2em;
  height:2em;
  margin:-1em 0 0 -1em;
}
.cub-21 .ft {
  -webkit-transform:translateZ(1em);
}
.cub-21 .bk {
  -webkit-transform:translateZ(-1em) rotateY(180deg);
}
.cub-21 .rt, .cub-21 .lt {
  width:2em;
  height:2em;
}
.cub-21 .tp, .cub-21 .bm {
  width:2em;
  height:2em;
}
.cub-21 .face {
  background-color:#FFFFFF;
}
/* .cub-22 styles */
.cub-22 {
  -webkit-transform:translate3D(-20em, -3em, -11em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1em;
  height:1em;
  margin:-0.5em 0 0 -0.5em;
}
.cub-22 .ft {
  -webkit-transform:translateZ(0.5em);
}
.cub-22 .bk {
  -webkit-transform:translateZ(-0.5em) rotateY(180deg);
}
.cub-22 .rt, .cub-22 .lt {
  width:1em;
  height:1em;
}
.cub-22 .tp, .cub-22 .bm {
  width:1em;
  height:1em;
}
.cub-22 .face {
  background-color:#FFFFFF;
}
/* .cub-23 styles */
.cub-23 {
  -webkit-transform:translate3D(-2.5em, -1.5em, 7em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1em;
  height:1em;
  margin:-0.5em 0 0 -0.5em;
}
.cub-23 .ft {
  -webkit-transform:translateZ(0.5em);
}
.cub-23 .bk {
  -webkit-transform:translateZ(-0.5em) rotateY(180deg);
}
.cub-23 .rt, .cub-23 .lt {
  width:1em;
  height:1em;
}
.cub-23 .tp, .cub-23 .bm {
  width:1em;
  height:1em;
}
.cub-23 .face {
  background-color:#FFFFFF;
}
/* .cub-24 styles */
.cub-24 {
  -webkit-transform:translate3D(-22em, -0.5em, 11em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1em;
  height:1em;
  margin:-0.5em 0 0 -0.5em;
}
.cub-24 .ft {
  -webkit-transform:translateZ(0.5em);
}
.cub-24 .bk {
  -webkit-transform:translateZ(-0.5em) rotateY(180deg);
}
.cub-24 .rt, .cub-24 .lt {
  width:1em;
  height:1em;
}
.cub-24 .tp, .cub-24 .bm {
  width:1em;
  height:1em;
}
.cub-24 .face {
  background-color:#FFFFFF;
}
/* .cub-25 styles */
.cub-25 {
  -webkit-transform:translate3D(4em, 3em, 17em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1em;
  height:1em;
  margin:-0.5em 0 0 -0.5em;
}
.cub-25 .ft {
  -webkit-transform:translateZ(0.5em);
}
.cub-25 .bk {
  -webkit-transform:translateZ(-0.5em) rotateY(180deg);
}
.cub-25 .rt, .cub-25 .lt {
  width:1em;
  height:1em;
}
.cub-25 .tp, .cub-25 .bm {
  width:1em;
  height:1em;
}
.cub-25 .face {
  background-color:#FFFFFF;
}
/* .cub-26 styles */
.cub-26 {
  -webkit-transform:translate3D(13em, 0em, -12.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1em;
  height:1em;
  margin:-0.5em 0 0 -0.5em;
}
.cub-26 .ft {
  -webkit-transform:translateZ(0.5em);
}
.cub-26 .bk {
  -webkit-transform:translateZ(-0.5em) rotateY(180deg);
}
.cub-26 .rt, .cub-26 .lt {
  width:1em;
  height:1em;
}
.cub-26 .tp, .cub-26 .bm {
  width:1em;
  height:1em;
}
.cub-26 .face {
  background-color:#FFFFFF;
}
/* .cub-27 styles */
.cub-27 {
  -webkit-transform:translate3D(19em, 0.5em, 16em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1em;
  height:1em;
  margin:-0.5em 0 0 -0.5em;
}
.cub-27 .ft {
  -webkit-transform:translateZ(0.5em);
}
.cub-27 .bk {
  -webkit-transform:translateZ(-0.5em) rotateY(180deg);
}
.cub-27 .rt, .cub-27 .lt {
  width:1em;
  height:1em;
}
.cub-27 .tp, .cub-27 .bm {
  width:1em;
  height:1em;
}
.cub-27 .face {
  background-color:#FFFFFF;
}
/* .cub-28 styles */
.cub-28 {
  -webkit-transform:translate3D(31em, 1em, -1.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1em;
  height:1em;
  margin:-0.5em 0 0 -0.5em;
}
.cub-28 .ft {
  -webkit-transform:translateZ(0.5em);
}
.cub-28 .bk {
  -webkit-transform:translateZ(-0.5em) rotateY(180deg);
}
.cub-28 .rt, .cub-28 .lt {
  width:1em;
  height:1em;
}
.cub-28 .tp, .cub-28 .bm {
  width:1em;
  height:1em;
}
.cub-28 .face {
  background-color:#FFFFFF;
}
/* .cub-29 styles */
.cub-29 {
  -webkit-transform:translate3D(37em, 5em, 18em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1em;
  height:1em;
  margin:-0.5em 0 0 -0.5em;
}
.cub-29 .ft {
  -webkit-transform:translateZ(0.5em);
}
.cub-29 .bk {
  -webkit-transform:translateZ(-0.5em) rotateY(180deg);
}
.cub-29 .rt, .cub-29 .lt {
  width:1em;
  height:1em;
}
.cub-29 .tp, .cub-29 .bm {
  width:1em;
  height:1em;
}
.cub-29 .face {
  background-color:#FFFFFF;
}
/* .cub-30 styles */
.cub-30 {
  -webkit-transform:translate3D(-6.5em, -1em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1em;
  height:1em;
  margin:-0.5em 0 0 -0.5em;
}
.cub-30 .ft {
  -webkit-transform:translateZ(0.5em);
}
.cub-30 .bk {
  -webkit-transform:translateZ(-0.5em) rotateY(180deg);
}
.cub-30 .rt, .cub-30 .lt {
  width:1em;
  height:1em;
}
.cub-30 .tp, .cub-30 .bm {
  width:1em;
  height:1em;
}
.cub-30 .face {
  background-color:#FFFFFF;
}
/* .cub-31 styles */
.cub-31 {
  -webkit-transform:translate3D(31.5em, 4em, -13.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:1em;
  height:1em;
  margin:-0.5em 0 0 -0.5em;
}
.cub-31 .ft {
  -webkit-transform:translateZ(0.5em);
}
.cub-31 .bk {
  -webkit-transform:translateZ(-0.5em) rotateY(180deg);
}
.cub-31 .rt, .cub-31 .lt {
  width:1em;
  height:1em;
}
.cub-31 .tp, .cub-31 .bm {
  width:1em;
  height:1em;
}
.cub-31 .face {
  background-color:#FFFFFF;
}


</style>
