<template>
  <div>

<span class="md-display-3">About</span>


<div class="md-layout md-gutter">
    <div class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100">
      
            <p>Munis Pattern Library v5.0 is compatible with the following Munis release versions:</p>
<ul>
<li>2019.1</li>
<li>2019.2</li>
<li>2019.3</li>
</ul>

<span class="md-body-1">Munis Pattern Library v5.0 follows standards set by:</span>

<ul>
<li>Tyler UI</li>
<li>Titanium Web Components</li>
<li>2014 Google Material Design Guidelines, whenever possible</li>
<li>A limited number of the 2017 Google Design Guidelines</li>
<li>It also considers the needs of our ERP users</li>
</ul>

    </div>
  </div>

  </div>
</template>

<script>
import MainLayout from "../layouts/Main.vue";

export default {
  components: {
    MainLayout
  }
};
</script>

<style lang="scss" scoped>
@import "~vue-material/src/components/MdAnimation/variables.scss";
@import "~vue-material/src/theme/engine.scss";

.md-layout-item {
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  transition: 0.3s $md-transition-stand-timing;

  &:after {
    width: 100%;
    height: 100%;
    display: block;
    content: " ";
  }
}
</style>
