<template>
<div class="md-layout md-gutter md-alignment-center">
    <div class="md-layout-item md-medium-size-100 md-small-size-100 md-xsmall-size-100">

        <span class="md-display-3">Autocomplete</span>

          <div class="textDiv">
            <p>Use autocomplete to allow users to search an explicit list of options. As the user types, options in a list should be filtered down by the text entered. Matching text should be displayed in bold font. If no results are found, offer a suggested search if possible.</p>
          </div>

      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>
      <p><img src="/images/autocomplete/autocomplete.png" /></p>

  </div>
  </div>
</template>

<script>
import MainLayout from "../layouts/Main.vue";

export default {
  components: {
    MainLayout
  }
};
</script>

<style lang="scss" scoped>
</style>
