<template>
  <div class="md-layout md-gutter md-alignment-center">
    <div class="md-layout-item md-medium-size-100 md-small-size-100 md-xsmall-size-100">

        <span class="md-display-3">Browse</span>


    
      <p>Browse screen text</p>

      <p><img src="/images/browse/BrowseScreen.png" /></p>

      <p><img src="/images/browse/BrowseEditColumns.png" /></p>

      <p><img src="/images/browse/Add page complex.png" /></p>

      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>
  </div>
</div>
</template>



<script>
export default {
  name: "Browse"
};
</script>
<script>
export default {
  name: "Browse"
};
</script>
