<template>
  <div class="md-layout md-gutter md-alignment-center">
    <div class="md-layout-item md-medium-size-100 md-small-size-100 md-xsmall-size-100">

        <span class="md-display-3">Buttons</span>
    <p>Buttons allow users to take actions, and make choices, with a single tap. Buttons communicate actions that users can take. They are typically placed throughout your UI, in places like:</p>
      <ul>
          <li>Dialogs</li>
          <li>Modal windows</li>
          <li>Forms</li>
          <li>Cards</li>
          <li>Toolbars</li>
      </ul>      

<div class="spacer"></div>

<p><img src="/images/buttons/Button Importance.png" /></p>
      

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<span class="md-display-1">Button specs</span>

<p><img src="/images/buttons/ButtonDetails.png" /></p>
    <md-table md-card>

      <md-table-row>
        <md-table-cell>Container height:</md-table-cell>
        <md-table-cell>36px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Minimum container width:</md-table-cell>
        <md-table-cell>64px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Corner radius:</md-table-cell>
        <md-table-cell>2px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Text size:</md-table-cell>
        <md-table-cell>14px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Primary button color:</md-table-cell>
        <md-table-cell>#3F51B5</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Primary text color:</md-table-cell>
        <md-table-cell>#FFFFFF</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Secondary text color:</md-table-cell>
        <md-table-cell>#3F51B5</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Text color:</md-table-cell>
        <md-table-cell>#FFFFFF</md-table-cell>
      </md-table-row>
  </md-table>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>


<p><img src="/images/buttons/Buttons.png" /></p>


<md-table md-card>
      <md-table-toolbar>
        <h1 class="md-title">Touch & Padding</h1>
      </md-table-toolbar>

      <md-table-row>
        <md-table-cell>Touchable target height:</md-table-cell>
        <md-table-cell>48px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Internal padding::</md-table-cell>
        <md-table-cell>8px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>External padding:</md-table-cell>
        <md-table-cell>8px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Horizontal margins:</md-table-cell>
        <md-table-cell>8px</md-table-cell>
      </md-table-row>
  </md-table>

<div class="spacer"></div><div class="spacer"></div>

        <md-table md-card>
            <md-table-toolbar>
              <h1 class="md-title">Primary Action Colors</h1>
            </md-table-toolbar>

            <md-table-row>
              <md-table-cell>Button color:</md-table-cell>
              <md-table-cell>#3F51B5</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Pressed color:</md-table-cell>
              <md-table-cell>#303F9F</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Disabled type color:</md-table-cell>
              <md-table-cell>	26% #000000</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Disabled color:</md-table-cell>
              <md-table-cell>12% #000000</md-table-cell>
            </md-table-row>
        </md-table>

    <div class="spacer"></div><div class="spacer"></div>

                    <md-table md-card>
      <md-table-toolbar>
        <h1 class="md-title">Secondary Action Colors</h1>
      </md-table-toolbar>

      <md-table-row>
        <md-table-cell>Pressed button:</md-table-cell>
        <md-table-cell>40% #999999</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Button type color:</md-table-cell>
        <md-table-cell>#3F51B5</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Disabled type color:</md-table-cell>
        <md-table-cell>26% #000000</md-table-cell>
      </md-table-row>
  </md-table>




<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>


<span class="md-display-1">Dialog buttons</span>
<p><img src="/images/buttons/ButtonContentSpacing.png" /></p>

<md-table md-card>
      <md-table-row>
        <md-table-cell>Pressed button</md-table-cell>
        <md-table-cell>40% #999999</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Button type color:</md-table-cell>
        <md-table-cell>#3F51B5</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Disabled type color:</md-table-cell>
        <md-table-cell>26% #000000</md-table-cell>
      </md-table-row>
  </md-table>
  </div></div>

</template>


<style lang="scss" scoped>
@import "~vue-material/src/theme/engine";
@import "~vue-material/src/components/MdAnimation/variables.scss";

.md-layout-item {
  margin-top: 8px;
  margin-bottom: 8px;
  transition: 0.3s $md-transition-stand-timing;
  width: 228px;

  &:after {
    width: 100%;
    height: 100%;
    display: block;
    content: " ";
  }
}
.md-card {
  margin: 0px;
  max-width: 860px;
}
</style>
