<template>
  <div>

    <span class="md-display-3">Calendar</span>


    <div class="textDiv">
      <p>Calendar information here</p>
</div>





<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<span class="md-display-1">Specs</span>
<div class="spacer"></div>
<div class="md-layout md-gutter">
    <div class="md-layout-item">
        <p class="md-md-body-2">Days</p>
        <div class="imgContainer">
        <img src="/images/calendar/CalendarDaySpecs.png" style="border: 1px solid #eaeaea" alt="Avatar" class="image">
        <div class="imgOverlay">
    <div class="imgText">
        <a href="#" style="text-decoration: none;" data-featherlight="/images/calendar/CalendarDaySpecs.png"><md-icon class="md-size-5x md-primary">zoom_in</md-icon></a>
    </div>
  </div>
</div></div>
    <div class="md-layout-item">
        <p class="md-md-body-2">Month</p>
        <div class="imgContainer">
        <img src="/images/calendar/CalendarMonthSpecs.png" style="border: 1px solid #eaeaea" alt="Avatar" class="image">
        <div class="imgOverlay">
    <div class="imgText">
        <a href="#" style="text-decoration: none;" data-featherlight="/images/calendar/CalendarMonthSpecs.png"><md-icon class="md-size-5x md-primary">zoom_in</md-icon></a>
    </div>
  </div>
</div></div>
    <div class="md-layout-item">
        <p class="md-md-body-2">Weeks</p>
        <div class="imgContainer">
        <img src="/images/calendar/CalendarWeekSpecs.png" style="border: 1px solid #eaeaea" alt="Avatar" class="image">
        <div class="imgOverlay">
    <div class="imgText">
        <a href="#" style="text-decoration: none;" data-featherlight="/images/calendar/CalendarWeekSpecs.png"><md-icon class="md-size-5x md-primary">zoom_in</md-icon></a>
    </div>
  </div>
</div></div>
  </div>

  <div id="spacer"></div>

<p><img src="/images/calendar/SidebarSpecs.png" /></p>




<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<span class="md-display-1">Examples</span>
<p><img src="/images/calendar/CalendarDayView.png" /></p>
<div class="spacer"></div>

<p><img src="/images/calendar/CalendarMonthView.png" /></p>
<div class="spacer"></div>

<p><img src="/images/calendar/CalendarWeek.png" /></p>
<div class="spacer"></div>

<p><img src="/images/calendar/SidebarImage.png" /></p>
<div class="spacer"></div>



  </div>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss" scoped>

</style>
