<template>
  <div>

    <span class="md-display-3">Cards & Task Cards</span>
    <p>Sheet of material that serves as an entry point to more detailed information. Intended to provide infromation on single subjects. Cards can contain: Photo, Text, link, buttons… etc</p>
    <p>Cards can be used in:</p>
    <ul>
      <li>Dashboard</li>
	<li>Landing page</li>
	<li>Stepper</li>
	<li>List</li>
	<li>Details</li>
    </ul>
    <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <p><span class="md-display-1">Card Specs:</span></p>
    <p>Cards have 2px rounded corners. Desktop Maximum width: 960px.</p>
<div class="spacer"></div>
  <h1 class="md-title">Content blocks:</h1>
<p>Optional header, Primary title, Rich Media , Supporting text, Actions </p>

<div class="spacer"></div>

<h1 class="md-title">Actions (buttons):</h1>
	<p>Padding: 8px</p>

<div class="spacer"></div>


<md-table md-card>
      <md-table-toolbar>
        <h1 class="md-title">Primary title/text</h1>
      </md-table-toolbar>

      <md-table-row>
        <md-table-cell>Size:</md-table-cell>
        <md-table-cell>24pt (14pt is available for an as needed basis)</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Subtitle:</md-table-cell>
        <md-table-cell>14pt</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>L+R Padding:</md-table-cell>
        <md-table-cell>16px for mobile, 24px for Desktop/Tablet</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Top padding:</md-table-cell>
        <md-table-cell>16px, (24px when a larger primary title is present)</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Bottom padding:</md-table-cell>
        <md-table-cell>16px if there is additional actions, or supporting text, 24px if there is no supporting text or additional actions under the PrimaryTitle/Text.</md-table-cell>
      </md-table-row>
  </md-table>

<div class="spacer"></div><div class="spacer"></div>

        <md-table md-card>
            <md-table-toolbar>
              <h1 class="md-title">Supporting text</h1>
            </md-table-toolbar>

            <md-table-row>
              <md-table-cell>Size:</md-table-cell>
              <md-table-cell>14px</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>L+R padding:</md-table-cell>
              <md-table-cell>16px for mobile, 24px for Desktop/Tablet.</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Top padding:</md-table-cell>
              <md-table-cell>16px</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Bottom padding:</md-table-cell>
              <md-table-cell>24px, if additional actions or text below 24px.</md-table-cell>
            </md-table-row>
        </md-table>



<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<p><span class="md-display-1">Card collections:</span></p>
<md-table md-card>
            <md-table-toolbar>
              <h1 class="md-title">Mobile</h1>
            </md-table-toolbar>

            <md-table-row>
              <md-table-cell>Edge of screen to card padding:</md-table-cell>
              <md-table-cell>8px</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Space between cards:</md-table-cell>
              <md-table-cell>8px</md-table-cell>
            </md-table-row>
        </md-table>

<div class="spacer"></div><div class="spacer"></div>


<md-table md-card>
            <md-table-toolbar>
              <h1 class="md-title">Tablet/desktop</h1>
            </md-table-toolbar>

            <md-table-row>
              <md-table-cell>Gutters and Margins can be:</md-table-cell>
              <md-table-cell>8, 16, 24, 40px wide.</md-table-cell>
            </md-table-row>
        </md-table>

<div class="spacer"></div>

<p>Margins and Gutters don’t have to be equal, you can have 40px margin, with 24px gutters. </p>

    <p><img src="/images/cards/CardsSpecs.png" /></p>

    <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <p><span class="md-display-1">Task Card Specs:</span></p>
    <p>Task cards are a subsection of cards, typically used in lists. Task cards can be expandable, or static. </p>


<md-table md-card>
      <md-table-toolbar>
        <h1 class="md-title">Expanded card</h1>
      </md-table-toolbar>

      <md-table-row>
        <md-table-cell>Width:</md-table-cell>
        <md-table-cell>760px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>L+R Edge Padding:</md-table-cell>
        <md-table-cell>24px</md-table-cell>
      </md-table-row>

  </md-table>

<div class="spacer"></div><div class="spacer"></div>

        <md-table md-card>
            <md-table-toolbar>
              <h1 class="md-title">Collapsed card</h1>
            </md-table-toolbar>

            <md-table-row>
              <md-table-cell>Width:</md-table-cell>
              <md-table-cell>760px</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>L+R padding:</md-table-cell>
              <md-table-cell>24px</md-table-cell>
            </md-table-row>

        </md-table>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <p><img src="/images/cards/TaskCardSpecs.png" /></p>

    <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <span class="md-display-3">Examples</span>
    <p><img src="/images/cards/CardsExample.png" /></p>

    <p><img src="/images/cards/TaskCardExample.png" /></p>



    

  </div>
</template>

<script>
import MainLayout from "../layouts/Main.vue";

export default {
  components: {
    MainLayout
  }
};
</script>

<style lang="scss" scoped>
.md-card {
  margin: 0px;
  max-width: 860px;
}
</style>
