<template>
  <div>

    <span class="md-display-3">Chips</span>
      <p>Chips are compact elements that represent an input, attribute, or action.</p>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <span class="md-display-1">Anatomy</span>
      <p><img src="/images/chips/Anatomy.png" /></p>

    <span class="md-title">Usage</span>
    <ul>
<li>May contain a photo/icon, short title, rules, brief information or a contact</li>
<li>Allow users to make selections, filter content, or trigger actions.  </li>
<li>May be deleted if they display a delete icon</li>
    </ul>

<span class="md-title">Types</span> 
<ul>
<li>Choice chips</li>
<li>Filter chips</li>
<li>Informational chips</li>
</ul>

<span class="md-title">Specs</span>
<ul>
<li>Height:  32px</li>
<li>Label:  13px Roboto Regular, 87% black</li>
<li>Unselected background color:  E0E0E0 or Transparent</li>
<li>Unselected text color:  60% black</li>
<li>Active background color:  12% primary(3F51B5)</li>
<li>Active text color:  Primary(#3F51B5)</li>
</ul>

<span class="md-title">Option 2</span>
<ul>
<li>Active background color:  Primary</li>
<li>Active text color:  #fff(white) </li>
</ul>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<span class="md-display-3">Choice chips</span>
<p><img src="/images/chips/Choice chips Example.png" /></p>
<p><img src="/images/chips/Choice chips Hub example.png" /></p>
<ul>
<li>Display in sets that contain at least two options.  Choice chips represent a single selection.</li>
<li>They are a good alternative to toggle buttons, radio buttons, and single select menus.</li>
</ul>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<span class="md-display-3">Filter chips</span>

<p>Chips are used to filter data.  Multiple chips can be selected or deselected.  Display an icon when the chip is selected.
If chips are used to represent filter criteria, then display a delete icon so the chip can be deleted.</p>
<p><img src="/images/chips/filter chips.png" /></p>



  </div>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss" scoped>

</style>
