<template>
  <div>

    <span class="md-display-3">Data entry</span>

    <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>
    
    <span class="md-display-1">Example</span>
    <p><img src="/images/data-entry/Add page complex.png" /></p>

  </div>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss" scoped>

</style>
