<template>
  <div>

    <span class="md-display-3">Data table</span>
      <p>Data tables display sets of raw data.  They usually appear in desktop enterprise products.</p>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<span class="md-display-1">Specs</span>
<p><img src="/images/data-table/Table on card Specs.png" /></p>

<md-table md-card>
      <md-table-row>
        <md-table-cell>Caption:</md-table-cell>
        <md-table-cell>Describes the main table content</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Pagination:</md-table-cell>
        <md-table-cell>Bottom right of the table</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Checkboxes:</md-table-cell>
        <md-table-cell>Include when users need to perform actions on multiple rows</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Basic icons:</md-table-cell>
        <md-table-cell>Filter, settings and overflow - display in the upper right</md-table-cell>
      </md-table-row>
  </md-table>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <span class="md-display-1">Alternate table headers</span>
      <p>Data tables display a contextual header that activates when items are selected</p>
      <p><img src="/images/data-table/Alternate table headers.png" /></p>

      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <span class="md-display-1">Tables with persistent buttons</span>
      <p>The table caption can be replaced with Persistent buttons.</p>
      <p><img src="/images/data-table/Table headers with persistent buttons.png" /></p>

      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <span class="md-display-1">Simple inline editing</span>
      <p>Include editable fields within a table and denote them using placeholder text. </p>
      <p>You can use a simple edit dialog with just a text field, or display a full dialog  on click. </p>
      <p><img src="/images/data-table/Simple inline editing.png" /></p>

        <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <span class="md-display-1">Optional editing</span>
      <p>Icon-based edit affordance. Include icons at the edge of the cell on the opposite side of the content. </p>
      <p><img src="/images/data-table/Optional editing.png" /></p>

        <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <span class="md-display-1">Inline menu</span>
      <p>You can embed a menu component directly in the table. </p>
      <p><img src="/images/data-table/Inline Menu.png" /></p>


  </div>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss" scoped>
.md-card {
  margin: 0px;
  max-width: 860px;
}
</style>
