<template>
  <div>

    <span class="md-display-3">Dialogs</span>


    <div class="textDiv">
      <p>Dialogs inform users about a specific task and may contain critical information, require decisions, or involve multiple tasks.</p>
</div>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<span class="md-display-1">Specs</span>
<p><img src="/images/dialogs/dialog spec.png" /></p>
<div class="spacer"></div>

<p><img src="/images/dialogs/simple dialog copy.png" /></p>
<div class="spacer"></div>


<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<span class="md-display-1">Examples</span>
<p><img src="/images/dialogs/simple dialog.png" /></p>
<div class="spacer"></div>

<p><img src="/images/dialogs/Configuration and settings.png" /></p>
<div class="spacer"></div>

<p><img src="/images/dialogs/Simple dialog multi field.png" /></p>
<div class="spacer"></div>



  </div>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss" scoped>

</style>
