<template>
  <div>
    <span class="md-display-3">Elevation</span>
    <div class="textDiv">
      <p>
        Elevation is the relative distance between two surfaces along the z-axis.
      </p>
      <md-divider></md-divider>
      <p>
        All Material Design surfaces, and components, have elevation values.
      </p>
    <div class="spacer"></div>
      <p>Surfaces at different elevations do the following:</p>

      <ul>
        <li>Allow surfaces to move in front of and behind other surfaces, such as content scrolling behind app bars</li>
        <li>Reflect spatial relationships, such as how a floating action button’s shadow indicates it is separate from a card
          collection</li>
        <li>Focus attention on the highest elevation, such as a dialog temporarily appearing in front of other surfaces</li>
        <li>Elevation can be depicted using shadows or other visual cues, such as surface fills or opacities.</li>
      </ul>
    </div>

    <div class="elevation-demo">
      <md-content class="md-elevation-1">1</md-content>
      <md-content class="md-elevation-2">2</md-content>
      <md-content class="md-elevation-3">3</md-content>
      <md-content class="md-elevation-4">4</md-content>
      <md-content class="md-elevation-5">5</md-content>
      <md-content class="md-elevation-6">6</md-content>
      <md-content class="md-elevation-7">7</md-content>
      <md-content class="md-elevation-8">8</md-content>
      <md-content class="md-elevation-9">9</md-content>
      <md-content class="md-elevation-10">10</md-content>
      <md-content class="md-elevation-11">11</md-content>
      <md-content class="md-elevation-12">12</md-content>
      <md-content class="md-elevation-13">13</md-content>
      <md-content class="md-elevation-14">14</md-content>
      <md-content class="md-elevation-15">15</md-content>
      <md-content class="md-elevation-16">16</md-content>
      <md-content class="md-elevation-17">17</md-content>
      <md-content class="md-elevation-18">18</md-content>
      <md-content class="md-elevation-19">19</md-content>
      <md-content class="md-elevation-20">20</md-content>
      <md-content class="md-elevation-21">21</md-content>
      <md-content class="md-elevation-22">22</md-content>
      <md-content class="md-elevation-23">23</md-content>
      <md-content class="md-elevation-24">24</md-content>
    </div>

  </div>
</template>

<script>
  export default {
    name: 'ElevationExample'
  }
</script>
<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss" scoped>
  .elevation-demo {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
  }

  .md-content {
    width: 100px;
    height: 100px;
    margin: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>