<template>
  <div>

    <span class="md-display-3">Empty States</span>
      <p>Empty states occur when an item’s content can’t be shown.</p>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <span class="md-display-1">Content</span>
      <p>The most basic empty state consists of a non-interactive image and a text tagline.</p>
      <div class="spacer"></div>

    <span class="md-title">Image:</span>
    <ul>
<li>Selects from material icons overlayed on a grey background (see spec)</li>
<li>Alternatively, teams can create a graphic according to the Material spec if appropriate</li>
    </ul>

<span class="md-title">Text Tagline</span> 
<ul>
<li>Display a helpful message</li>
<li>Convey the purpose of the screen, without appearing actionable</li>
<li>Use an extra line of text to provide more information if needed (e.g., “Use links to group related incidents.” ) In general, keep text concise and to the point.</li>
<li>Use a conversational style and plain language. Avoid overly technical jargon.</li>
</ul>

<span class="md-title">Optional: Action button</span>
<p>If a user can take a logical action from an empty state (ie, ADD ATTACHMENT, ADD NOTE, NEW INVOICE), include a button with the tagline. Limit to one action per page.</p>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <span class="md-display-1">Specs</span>

      <div class="imgContainer">
        <img src="/images/emptystates/empty state spec.png"  style="border: 1px solid #eaeaea" alt="Avatar" class="image">
        <div class="imgOverlay">
    <div class="imgText">
        <a href="#" style="text-decoration: none;" data-featherlight="/images/emptystates/empty state spec.png"><md-icon class="md-size-5x md-primary">zoom_in</md-icon></a>
    </div>
  </div>
</div>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<span class="md-display-1">Examples</span>

<div class="imgContainer">
        <img src="/images/emptystates/consumption empty state.png"  style="border: 1px solid #eaeaea" alt="Avatar" class="image">
        <div class="imgOverlay">
    <div class="imgText">
        <a href="#" style="text-decoration: none;" data-featherlight="/images/emptystates/consumption empty state.png"><md-icon class="md-size-5x md-primary">zoom_in</md-icon></a>
    </div>
  </div>
</div>


<div id="spacer"></div>

<p><img src="/images/emptystates/mobile-empty.png" /></p>
<div id="spacer"></div>


<div class="imgContainer">
        <img src="/images/emptystates/tyler forms.png"  style="border: 1px solid #eaeaea" alt="Avatar" class="image">
        <div class="imgOverlay">
    <div class="imgText">
        <a href="#" style="text-decoration: none;" data-featherlight="/images/emptystates/tyler forms.png"><md-icon class="md-size-5x md-primary">zoom_in</md-icon></a>
    </div>
  </div>
</div>

  </div>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss" scoped>

</style>
