<template>
  <div>

    <span class="md-display-3">Errors</span>

      <p>Errors can be categorized into four groups:</p>
<ul>
<li>Input level errors (ie, enters invalid data into a specific field)</li>
<li>General user errors/ warnings (errors initated by the user that may require follow up actions on their part to correct.</li>
<li>Server errors (Exceptions such as 404s and 500s)</li>
<li>No results</li>
</ul>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>
<span class="md-display-1">User Input Level Errors</span>
        <p>For text fields that validate their content (such as passwords), replace helper text with error text when applicable. Swapping helper text with error text helps prevent new lines of text from being introduced into a layout, thus bumping content to fit it.</p>

<ul>
<li>If only one error is possible, error text describes how to avoid the error.</li>
<li>If multiple errors are possible, error text describes how to avoid the most likely error.</li>
<li>When users enter information into forms, data entry screens, or processes, offer feedback and confirmation. When possible, use immediate and clear validation.</li>
<li>If the field errors, swap the helper text with error text.</li>
<li>Long errors or helper text can wrap to multiple lines if there isn’t enough space to clearly describe the error. In this case, ensure padding between text fields is sufficient to prevent multi-lined errors from bumping layout content.</li>
</ul>

<div class="md-layout md-alignment-left-top md-gutter">
    <div class="md-layout-item">
      <p class="md-title">Input errors</p>
      <div class="imgContainer">
        <img src="/images/errors/input errors.png" style="border: 1px solid #eaeaea" alt="Avatar" class="image">
        <div class="imgOverlay">
    <div class="imgText">
        <a href="#" style="text-decoration: none;" data-featherlight="/images/errors/input errors.png"><md-icon class="md-size-5x md-primary">zoom_in</md-icon></a>
    </div>
  </div>
</div>
  </div>
<div class="md-layout-item">
<p class="md-title">Validation errors</p>
<div class="imgContainer">
        <img src="/images/errors/Validation errors.png" style="border: 1px solid #eaeaea" alt="Avatar" class="image">
        <div class="imgOverlay">
    <div class="imgText">
        <a href="#" style="text-decoration: none;" data-featherlight="/images/errors/Validation errors.png"><md-icon class="md-size-5x md-primary">zoom_in</md-icon></a>
    </div>
  </div>
</div>
</div>
</div>


<p class="md-title">A few rules of thumb:</p>
<ul>
<li>Validation should occur when a user leaves an error-ed field.</li>
<li>Don't clear fields unless displaying credentials/sensitive information (persist values).</li>
<li>In general, "Submit" or "Next" should be disabled until error is addressed. Don't allow user to proceed if required fields contain errors.</li>
</ul>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<p class="md-display-1">General errors</p>
<p>Errors initiated by the user that may require follow up actions on their part to correct.)</p>

<p class="md-title">Errors on submit</P>
<p>In general, validation should occur on specific fields as soon as the user navigates to the next field. In cases where validation must occur after a form is submitted, display a message at the top of the form or screen summarizing the fix(es) needed and any additional explanation. If specific inputs need to be corrected.</p>
<ul>
<li>Link to the errored field in the error summary</li>
<li>Error the fields where a fix is needed and add an error below the specific text field(s).</li>
</ul>

<div class="spacer"></div>


<div class="md-layout">
    <div class="md-layout-item"><p class="md-title">Alerts / warnings</p>
<p>Use alerts to deliver a persistent, in-app message that informs users of a particular change state.</p>

<div class="spacer"></div>

<p class="md-title">Dialogs</p>
<p>Use alerts that:</p>
<ul>
    <li>Are high urgency</li>
    <li>Require a choice/acknowledgement</li>
    <li>Peristent</li>
    <li>Need to interrupt the current task</li>
</ul>
<p>Dialogs should include an action to dismiss and an option to fix the problem, if possible.</p></div>
    <div class="md-layout-item md-size-60"><p><img src="/images/errors/Dialog alert.png" /></p></div>
</div>

<div class="spacer"></div>

<div class="md-layout md-gutter">
    <div class="md-layout-item"><p class="md-title">Snackbars</p>
<p>Use alerts that:</p>
<ul>
    <li>Are low urgency</li>
    <li>Are informational</li>
    <li>Peristent</li>
    <li>Transient and dismissable</li>
</ul>
<p>Toasts may include an action to fix a problem, if applicable. Toasts should disappear after a few seconds. Snackbars should appear in the bottom left.</p>

</div>
    <div class="md-layout-item md-size-60">
        <p><img src="/images/errors/toast alert.png" /></p>
    </div>
</div>


<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<p class="md-display-1">Server errors</p>
<p>When the server encounters an error and the user is not able to interact with content on a page, use the following patterns to communicate server errors. Provide a header with some information about the error, an explanation of what might be causing the error and the primary action the user might take to resolve an error. (This action might simply be “Refresh”).</p>
<div class="md-layout md-gutter">
    <div class="md-layout-item">
      <p class="md-body-2">404 error</p>
      <div class="imgContainer">
        <img src="/images/errors/Server 404 error.png" alt="Avatar" class="image">
        <div class="imgOverlay">
    <div class="imgText">
        <a href="#" style="text-decoration: none;" data-featherlight="/images/errors/Server 404 error.png"><md-icon class="md-size-5x md-primary">zoom_in</md-icon></a>
    </div>
  </div>
</div>
    </div>

    <div class="md-layout-item">
      <p class="md-body-2">500 error</p>
      <div class="imgContainer">
        <img src="/images/errors/Server 500 no-connection.png" alt="Avatar" class="image">
        <div class="imgOverlay">
    <div class="imgText">
        <a href="#" style="text-decoration: none;" data-featherlight="/images/errors/Server 500 no-connection.png"><md-icon class="md-size-5x md-primary">zoom_in</md-icon></a>
    </div>
  </div>
</div>
    </div>

    <div class="md-layout-item">
      <p class="md-body-2">403 Unauthorized error</p>
      <div class="imgContainer">
        <img src="/images/errors/server 403-unauthorized.png" alt="Avatar" class="image">
        <div class="imgOverlay">
    <div class="imgText">
        <a href="#" style="text-decoration: none;" data-featherlight="/images/errors/server 403-unauthorized.png"><md-icon class="md-size-5x md-primary">zoom_in</md-icon></a>
    </div>
  </div>
</div>
    </div>
  </div>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<p class="md-display-1">No search results</p>
<p>If a user executes a search and nothing exactly matches a user's query, content that contains the best match to the query can be displayed if possible, by returning results for a query spelled slightly differently.</p>

<div class="imgContainer">
        <img src="/images/errors/No results.png" alt="Avatar" class="image">
        <div class="imgOverlay">
    <div class="imgText">
        <a href="#" style="text-decoration: none;" data-featherlight="/images/errors/No results.png"><md-icon class="md-size-5x md-primary">zoom_in</md-icon></a>
    </div>
  </div>
</div>

    
  </div>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout,
    }
    }

</script>

<style lang="scss" scoped>

</style>
