<template>
  <div>
    <span class="md-display-3">Floating Action Button</span>
      <p>A floating action button (FAB) performs the primary, or most common, action on a screen. It appears in front of all screen content, typically as a circular shape with an icon in its center. FABs come in three types: regular, mini, and extended.</p>
      <p>Only use a FAB if it is the most suitable way to present a screen’s primary action.</p>

    

    <md-divider></md-divider><div class="spacer"></div>

<div class="md-layout md-gutter md-alignment-top-space-between">
    <div class="md-layout-item md-medium-size-100 md-small-size-100 md-xsmall-size-100">

          <md-table md-card>
            <md-table-toolbar>
              <h1 class="md-title">Regular fab</h1>
            </md-table-toolbar>

            <md-table-row>
              <md-table-cell>Container size:</md-table-cell>
              <md-table-cell>56px</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Icon size:</md-table-cell>
              <md-table-cell>24px</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Button color:</md-table-cell>
              <md-table-cell>#FFC107</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Icon color:</md-table-cell>
              <md-table-cell>#FFFFFF</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Icon padding:</md-table-cell>
              <md-table-cell>16px</md-table-cell>
            </md-table-row>
        </md-table>
    </div>

    <div class="md-layout-item md-size-100">
        <img src="/images/fab/regular-fab-anatomy.png" />
    </div>

    <div class="md-layout-item md-medium-size-100 md-small-size-100 md-xsmall-size-100">
       <md-table md-card>
            <md-table-toolbar>
              <h1 class="md-title">Mini fab</h1>
            </md-table-toolbar>

            <md-table-row>
              <md-table-cell>Container size:</md-table-cell>
              <md-table-cell>40px</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Icon size:</md-table-cell>
              <md-table-cell>24px</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Button color:</md-table-cell>
              <md-table-cell>#FFC107</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Icon color:</md-table-cell>
              <md-table-cell>#FFFFFF</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Icon padding:</md-table-cell>
              <md-table-cell>8px</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Icon padding:</md-table-cell>
              <md-table-cell>8px</md-table-cell>
            </md-table-row>
            
        </md-table> 
    </div>

      <div class="md-layout-item md-size-100">
          <img src="/images/fab/mini-fab-anatomy.png" />
    </div>

</div>

    <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <p><span class="md-display-3">Speed dial</span></p>
      <p><img src="/images/fab/speeddial-inactive.png" /></p>
      <p><img src="/images/fab/speeddial-activated.png" /></p>

    <md-table md-card>

      <md-table-row>
        <md-table-cell>Placement:</md-table-cell>
        <md-table-cell>Bottom right</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Margins:</md-table-cell>
        <md-table-cell>24px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>FAB container:</md-table-cell>
        <md-table-cell>56px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Scrim color:</md-table-cell>
        <md-table-cell>32% black</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Related Actions Container:</md-table-cell>
        <md-table-cell>40px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Related Action Buton Color:</md-table-cell>
        <md-table-cell>#FFFFFF</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Related Actions Icon Color:</md-table-cell>
        <md-table-cell>87% black</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Spacing between related actions:</md-table-cell>
        <md-table-cell>16px</md-table-cell>
      </md-table-row>
  </md-table>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

  </div>
</template>

  <script>
import MainLayout from "../layouts/Main.vue";

export default {
  components: {
    MainLayout
  }
};
</script>

<style lang="scss" scoped>
@import "~vue-material/src/theme/engine";
@import "~vue-material/src/components/MdAnimation/variables.scss";


.md-card {
  margin: 0px;
  max-width: 860px;
}
</style>