<template>
  <div>

    <span class="md-display-3">Filters & facets</span>

      <p>Filters help users find specific information by a given set of content to exclude items that don’t meet certain criteria. Filters are used as a pre-set list of products based on ONE single criteria. From there, users can further narrow down the list using facets. Faceted navigation provides multiple filters, one for each different aspect of the content. Faceted navigation can be more flexible and useful for complex systems.</p>

      <p>In general, filters and facets are applied after a broad search.</p>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<span class="md-display-1">Search vs filtering</span>
<div class="spacer"></div>
<span class="md-title">Search</span>
<ul>
    <li>Use when a user is looking for a specific known record</li>
<li>Locate and display a set of results.</li>
<li>More active process.</li>
</ul>
 
<span class="md-title">Filters</span>
<ul>
<li>Use to allow users to browse through options for which they may not have a precise target in mind.</li>
<li>Used to hide results from the display in order to show a more targeted set of results.</li>
<li>More passive process and allows for exploration.</li>
<li>Use to capture a subset of information.</li>
<li>Context specific.</li>
<li>Should be applied AFTER an initial search.</li>
</ul>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<span class="md-display-1">Implementation</span>

<ul>
<li>Facets and filters should display on a left panel.</li>
<li>If using Omni search:</li>
<ul>
<li>Once a user clicks into Omni search bar, omni switches to active search state.</li>
<li>Side navigation is hidden.</li>
<li>Once an initial search is made, side navigation should be replaced with contextual filters.</li>
</ul>
<li>As users select multiple criteria, filters should stay static and scroll position should be maintained on the filters. Search results can refresh, but the page itself should not refresh.</li>
<li>Once criteria are selected, selected criteria should display as dismissable chips above search results.</li>
</ul>

      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      
      <span class="md-display-1">Filters with save </span>
      <p><img src="/images/facets/filters with save.png" /></p>
      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <span class="md-display-1">Filters without save </span>
      <p><img src="/images/facets/filters without save.png" /></p>
      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>


  <span class="md-display-1">More/Less panel </span>
  <div class="spacer"></div>
    <div class="md-layout md-gutter">
      <div class="md-layout-item">
        <p class="md-md-body-2">See more</p>
        <img src="/images/facets/more expansion.png" /></div>
      <div class="md-layout-item">
        <p class="md-md-body-2">See less</p>
        <img src="/images/facets/more expansion copy.png" /></div>
      <div class="md-layout-item">
        <p class="md-md-body-2">Expanded with a scroll bar</p>
        <img src="/images/facets/more expansion scroll.png" /></div>
    </div>
    <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <span class="md-display-1">Autocomplete filter</span>
      <p><img src="/images/facets/autcomplete filter.png" /></p>
      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

  </div>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss" scoped>

</style>
