<template>
  <div>

    <span class="md-display-3">Guided Conversations</span>


      <p>Guided conversations help the user through a particularly complex task, in an easy and friendly manner. There's 3 levels of complexity when it comes to guided conversations. To determine which best fits your needs, ask the following questions:</p>

      <ul>
        <li>Will they be accessing this often? – Can you stop and pick back up later? </li>
<li>Will they eventually need access to functions that are somewhat unrelated, all on the same screen (example: settings, file adds, help/FAQ, and setup codes all in one location)?</li>
<li>How much information is there to input? </li>
<li>How many steps is too many steps? Is there a better way to input this? </li>
	<li>Is this a one time setup or is this teaching?</li>
<li>Is the guide the only way to input? </li>
</ul>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>
<span class="md-display-1">Simple guide</span>
<ul>
  <li>Only use with 1-4 actions/Questions.  (No more than 4 screens) </li>
<li>For Mobile: Keep ‘topics’ together. If there are multiple permissions settings [i.e. photo permissions, location permissions, etc] they should be continuous, and not mixed in with any other parts of the guide – OR not a part of the guide as a whole. </li>
<li>No scrolling. </li>
</ul>


<div class="md-layout md-gutter">
    <div class="md-layout-item md-size-100">
        <p class="md-md-body-2">Example</p>
        <p><img src="/images/guided-conversations/SimplePageOne.png"></p>
    </div>
    <div class="md-layout-item md-size-100">
        <p class="md-md-body-2">Specs</p>
        <p><img src="/images/guided-conversations/SimplePageOneSpecs.png"></p>
    </div>
  </div>

<div class="spacer"></div>

<div class="md-layout md-gutter">
    <div class="md-layout-item md-size-100">
        <p class="md-md-body-2">Example #2</p>
        <p><img src="/images/guided-conversations/SimplePageTwo.png"></p>
    </div>
    <div class="md-layout-item md-size-100">
        <p class="md-md-body-2">Specs</p>
        <p><img src="/images/guided-conversations/SimplePageTwoSpecs.png"></p>
    </div>
  </div>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>
<span class="md-display-1">Mid guide</span>
<ul>
  <li>Only use with 4-9 actions/questions. (No more than 9 screens, but no fewer than 4)</li>
<li>Desktop sized Dialog. If on mobile, should be full screen – similar to a simple menu.</li>
<li>Scroll only when needed.</li>
</ul>

<div class="md-layout md-gutter">
    <div class="md-layout-item md-size-100">
        <p class="md-md-body-2">Examples</p>
        <p><img src="/images/guided-conversations/MidGuide-1.png"></p>
    </div>
    <div class="spacer"></div>
    <div class="md-layout-item md-size-100">
        <p><img src="/images/guided-conversations/MidGuide-2.png"></p>
    </div>
    <div class="spacer"></div>
    <div class="md-layout-item md-size-100">
        <p><img src="/images/guided-conversations/MidGuide-3.png"></p>
    </div>
  </div>

<div class="spacer"></div>


<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>
<span class="md-display-1">Complex guide</span>
<ul>
  <li>Use with 10+ Actions/Questions. (As many screens as needed)  </li>
<li>Not optimal for mobile.  </li>
<li>No scrolling. </li>
<li>Avoid scrolling, only use if needed. </li>
</ul>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>
<p>What is the logical order for the user to accomplish the task intended? <strong>Follow that order.</strong></p>
<p>Contact the <a href="mailto:esther.morrow@tylertech.com?subject=Munis Pattern Library - contact button">UX team</a> for guides on guide guidelines for guide formats.</p>
<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<p><span class="md-display-1">Details</span></p>

<span class="md-title">Selection Controls:</span>
<ul>
<li>Avoid using buttons as a multiple choice option, use either check boxes, radio button, or drop down in the buttons place. </li>
<li>Check marks should be used when there are multiple selectable options.  </li>
<li>Radio buttons should be used when selecting one option out of a multiple choice. </li>
<li>Switches should only be used when needed. Typically should be avoided in guides</li>
</ul>

<div class="spacer"></div>

<p><span class="md-title">Acceptable buttons for guides:</span></p>
<p><span class="md-subheading">Basics:</span></p>
<ul>
<li>Back (Bottom left, secondary button)  </li>
<li>Continue [NOT “Next”](Bottom right, primary action)   </li>
<li>Save (Bottom right, primary action)  </li>
<li>Cancel (Bottom right, secondary action) </li>
<li>Close button (“X” on upper right of modal window for dialog, “Exit” for desktop use [ flat button with Directions_run)</li>
</ul>

<p><span class="md-subheading">Optional:</span></p>
<ul>
<li>Skip </li>
<li>"Save & Add Another"</li>
<li>Other variations of the above.</li>
</ul>

<div class="spacer"></div>

<p><span class="md-title">Button placement:</span></p> <p>**Unless mobile: then default to material Dialog standards**</p>
<ul>
  <li>Back is always located on the lower left, if the user is able to go back. 
<li>Cancel is always located on the lower right hand corner. 
<li>Primary action(s) are located to the left of the “cancel” button in the lower right corner, 
<li>Any additional secondary actions (besides “cancel”) are located to the left o the primary button (see “Skip” above).</li> 
<ul><li>(Note: With buttons that are central on screen, and have a phrase or sentence of text, the text does not need to be entirely capitalized. It is better for readability.)</li></ul>
</ul>

<div class="spacer"></div>

<p><span class="md-title">Text:</span></p> 
<p><span class="md-subheading">Small guides & Medium guides: </span></p> 
	<ul>
  <li>Titles:  Roboto Medium: 24px, 87% #000000</li>
	<li>Subheaders:  Roboto Regular: 14px 54% #000000</li>
	<li>Regular text: Roboto Regular: 14px 87% #000000</li>
	<li>Link text: Roboto regular: 14px Primary: #3F51B5</li>
	<li>Additional information/hint text: Roboto Regular, italic: 14px 54% #00000</li>
</ul>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>
<p><span class="md-subheading">Complex guides: follow Munis Pattern library.</span></p> 
<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<p><span class="md-title">Mobile dialog specs: </span></p> 
<ul><li>L+R padding: 16px.</li></ul>

<div class="spacer"></div>

<p><span class="md-title">Desktop Dialog specs: </span></p> 
	<ul>
  <li>Min width: 560px</li>
	<li>Max height: 800px </li>
	<li>L+R Padding: 24px</li>
	<li>Button padding: 8px</li>
	<li>Top padding: 16dp or 24dp (when a large primary title is present)</li>
<li>Bottom padding: 16dp (if there are additional actions or supporting text) or 24dp (no actions or supporting text)</li>
</ul>

<div class="spacer"></div>

	<p><span class="md-title">Colors: </span></p> 
<p>Use the same colors as the UX standards.</p> 



<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <span class="md-display-1">Specs</span>
      <div class="spacer"></div>
      <md-table md-card>

      <md-table-row>
        <md-table-cell>Header text Size:</md-table-cell>
        <md-table-cell>24px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Header font color:</md-table-cell>
        <md-table-cell>87% #000000</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Secondary text size:</md-table-cell>
        <md-table-cell>16px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Secondary font color:</md-table-cell>
        <md-table-cell>54% #000000</md-table-cell>
      </md-table-row>

  </md-table>
      

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <span class="md-display-1">Step 1</span>
      <p><img src="/images/guided-conversations/Entry Screen.png" /></p>
      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <span class="md-display-1">Step 2</span>
      <p><img src="/images/guided-conversations/Second Screen.png" /></p>
      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <span class="md-display-1">Step 3</span>
      <p><img src="/images/guided-conversations/Third Screen.png" /></p>
      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <span class="md-display-1">Step 4</span>
      <p><img src="/images/guided-conversations/Fourth Screen.png" /></p>
      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <span class="md-display-1">Confirmation</span>
      <p><img src="/images/guided-conversations/Confirmation Screen.png" /></p>
      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <span class="md-display-1">Summary</span>
      <p><img src="/images/guided-conversations/Summary Screen.png" /></p>
      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

  </div>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss" scoped>
.md-card {
  margin: 0px;
  max-width: 860px;
}


</style>
