<template>
<div>
      <div class="fullScreen">
      </div>
</div>
</template>

<script>
</script>

<style lang="scss" scoped>

.fullScreen {
width:100vw;
height:100vw;
max-height:100vw;
margin: 0px;
padding: 0px; 
background-image: url("/images/home/background.png");
background-position: top center;
background-size: contain;
background-repeat: no-repeat;
}

.floatBox {
  width: 98%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.30);
  position: relative;
  top: 2%;
  left: 2%;
  font-size: 64px;
  color: rgba(0, 0, 0, 0.87);
}


</style>

