<template>
  <div>

    <span class="md-display-3">Icons</span>

    <p>System icons are designed to be simple, modern, friendly, and sometimes quirky. Each icon is reduced to its minimal form, expressing essential characteristics. Icon shapes are bold and geometric. They have a symmetrical and consistent look, ensuring readability and clarity, even at small sizes.</p>

    <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <span class="md-display-1">Icons for light backgrounds</span>
    <p><img src="/images/icons/IconOnLightBackground.png" /></p>

    <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <span class="md-display-1">Icons for dark backgrounds</span>
    <p><img src="/images/icons/IconOnDarkBackground.png" /></p>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<span class="md-display-1">Icon font</span>
<p>The material icon font is the easiest way to incorporate material icons with web projects. We have packaged all the material icons into a single font that takes advantage of the typographic rendering capabilities of modern browsers so that web developers can easily incorporate these icons with only a few lines of code.</p>

<p>Using the font is not only the most convenient method, but it is efficient and looks great:</p>

<ul>
<li>900+ icons all from a single, small file.</li>
<li>Served from Google Web Font servers or can be self hosted.</li>
<li>Supported by all modern web browsers.</li>
<li>Colored, sized and positioned entirely with CSS.</li>
<li>Vector-based: Looks great at any scale, retina displays, low-dpi display screens.</li>
</ul>

<p><a href="https://google.github.io/material-design-icons/" target="_blank">https://google.github.io/material-design-icons/</a>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<span class="md-display-1">Icon library</span>
<p>The following collection of Material Web Icons pulls directly from the Google Material Icon site.</p>

      <md-list v-for="item in myJson.categories">
        <md-list-item md-expand>
            <span class="md-list-item-text">{{item.name}}</span>
          <md-list slot="md-expand">
            <md-list-item v-for="icon in item.icons">
              <div style="margin-left: -64px;">
              <div class="md-layout md-gutter">
                <div class="md-layout-item"><i class="material-icons">{{icon.id}}</i></div>
                <div class="md-layout-item"><span class="padding-left: 16px;">{{icon.id}}</span></div>
              </div>
              </div>
            
            </md-list-item>
          </md-list>
        </md-list-item>
        </md-list>
  </div>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'
  import json from '../icons/icons.json'

export default {
          data(){
              return{
                  myJson: json
              }
          },
      }

</script>

<style lang="scss" scoped>

</style>
