<template>
    <div>

    <p><span class="md-display-3">Navigation drawer</span></p>
    <p>Navigation drawers provide access to destinations in your app.</p>

    <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>


<div class="md-layout md-gutter">
      <div class="md-layout-item">
        <span class="md-display-1">Permanent</span>
        <p>Permanent navigation drawers are always visible and pinned to the left edge, at the same elevation as the content or background. They cannot be closed.</p>
      </div>
</div>

<div class="md-layout md-gutter">
      <div class="md-layout-item">
      <p><img src="/images/navigation-drawer/permanent.png" style="border: 1px solid #eaeaea;" /></p>
      </div>

      <div class="md-layout-item">
      <p><img src="/images/navigation-drawer/sub-items.png" style="border: 1px solid #eaeaea;" /></p>
      </div>
</div>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<div class="md-layout md-gutter">
      <div class="md-layout-item">
        <span class="md-display-1">Persistent</span>
        <p>Persistent navigation drawers can toggle open or closed. The drawer sits on the same surface elevation as the content. It is open by default and stays open until closed by the user using the close navigation icon under the navigation items. The state of the drawer is remembered from action to action and session to session.</p>
      </div>
</div>

<div class="md-layout md-gutter">
      <div class="md-layout-item">
      <p><img src="/images/navigation-drawer/persistent-closed.png" style="border: 1px solid #eaeaea;" /></p>
      </div>

      <div class="md-layout-item">
      <p><img src="/images/navigation-drawer/persistent-open.png" style="border: 1px solid #eaeaea;" /></p>
      </div>
</div>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<div class="md-layout md-gutter">
      <div class="md-layout-item">
        <span class="md-display-1">Temporary</span>
        <p>Temporary navigation drawers can toggle open or closed. Closed by default, the drawer opens temporarily above all other content until a section is selected. Elevation is 16px. Everything behind the drawer is still visible but darkened by a scrim.”</p>
      </div>
</div>

<div class="md-layout md-gutter">
      <div class="md-layout-item">
        <p><img src="/images/navigation-drawer/temporary.png" style="border: 1px solid #eaeaea;" /></p>
      </div>
</div>


    </div>
</template>

<script>
import MainLayout from "../layouts/Main.vue";

export default {
  components: {
    MainLayout
  }
};
</script>

<style lang="scss" scoped>
</style>
