<template>
  <div>

    <span class="md-display-3">Overflow menu</span>


    <div class="textDiv">
      <p>Overflow menus can be used to display specific actions that can be taken on a table row or specific record. If using a table, display the two most frequent actions within each row; any additional actions should be displayed in an overflow menu.</p>

<p>Tooltips can be used to give a quick description of the action or function, as well as used to show shortcut keys.</p>

<p><img src="/images/overflow-menu/linked incidents.png" /></p>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>
<span class="md-display-1">Placement</span>
<p>Overflow menus should be positioned below the element that generates them. They should be triggered by the "more_vert" icon.</p>



<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>
<span class="md-display-1">Specs</span>
<p><img src="/images/overflow-menu/overflow menu spec.png" /></p>

    </div>

    

      

  </div>
</template>

<script>

</script>
<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss" scoped>

</style>
