<template>
    <div>
        <p><span class="md-display-3">Page layout</span></p>
            <p>Material Design layouts are visually balanced. Most measurements align to an 8dp grid applied, which aligns both spacing and the overall layout.</p>
            <p>Smaller components, such as iconography and typography, can align to a 4dp grid.</p>
            
            <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>
            <span class="md-display-1">Default page layout</span>
            <p><img src="/images/page-layout/page-layout-860.png" /></p>
            
            <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>
            <span class="md-display-1">Page layout with a data table</span>
            <p><img src="/images/page-layout/page-layout-data-table.png" /></p>

<md-table md-card>

      <md-table-row>
        <md-table-cell>Table margins- left & right:</md-table-cell>
        <md-table-cell>24px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Vertical space between header and table caption:</md-table-cell>
        <md-table-cell>24px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Vertical space between header and icons:</md-table-cell>
        <md-table-cell>24px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Page title - left margin:	</md-table-cell>
        <md-table-cell>Center</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Page title - vertical alignment</md-table-cell>
        <md-table-cell></md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>See data table for data table specs	</md-table-cell>
        <md-table-cell></md-table-cell>
      </md-table-row>

  </md-table>



    </div>
</template>

<script>
import MainLayout from "../layouts/Main.vue";

export default {
  components: {
    MainLayout
  }
};
</script>

<style lang="scss" scoped>
.md-card {
  margin: 0px;
  max-width: 860px;
}
</style>
