<template>
  <div>

    <span class="md-display-3">Progress & indicators</span>
<p>Visually show an app loading content. Only use one indicator at a time.</p>

        <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<p><img src="/images/progress-indicators/ProgressIndicator.png" /></p>


<md-table md-card>
      <md-table-toolbar>
        <h1 class="md-title">Types</h1>
      </md-table-toolbar>

      <md-table-row>
        <md-table-cell>Determinate indicators:</md-table-cell>
        <md-table-cell>Displays how long an operation will take.</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Indeterminate indicators:</md-table-cell>
        <md-table-cell>Visualizes an unspecified time.</md-table-cell>
      </md-table-row>

  </md-table>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<md-table md-card>
      <md-table-toolbar>
        <h1 class="md-title">When to use:</h1>
      </md-table-toolbar>

      <md-table-row>
        <md-table-cell>3 seconds or less:</md-table-cell>
        <md-table-cell>Circular spinner</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>4 seconds or more:</md-table-cell>
        <md-table-cell>Progress bar, explaining what happens, or show. Skeleton of the page (not both)</md-table-cell>
      </md-table-row>

  </md-table>

<div class="spacer"></div>

<p>When the percentage of the operation is known, determinate indicators are appropriate.</p>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<span class="md-display-1">Variations</span>
<div class="spacer"></div>
<span class="md-body-2">Progress spinner:</span>
<ul>
    <li>Determinate</li>
    <li>Indeterminate</li>
</ul>
<div class="spacer"></div>
<span class="md-body-2">Progress bar:</span>
<ul>
    <li>Determinate</li>
    <li>Indeterminate</li>
    <li>Buffer</li>
    <li>Query</li>
</ul>

<div class="spacer"></div>
<span class="md-body-2">Skeleton pages:</span>
<p><span class="md-body-1">Skeleton pages are an alternate presentation that can be in place of the progress bar. </span></p>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<span class="md-display-1">Specs</span>
<div class="spacer"></div>

<md-table md-card>

      <md-table-row>
        <md-table-cell>Inactive color:</md-table-cell>
        <md-table-cell>#FFD54F</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Active color:</md-table-cell>
        <md-table-cell>#FFA000</md-table-cell>
      </md-table-row>

  </md-table>




  </div>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss" scoped>
.md-card {
  margin: 0px;
  max-width: 860px;
}
</style>
