<template>
  <div>

    <span class="md-display-3">Selection Controls</span>

      <p>Selection controls allow the user to select options.</p>
      <p><img src="/images/selection-controls/example.png" /></p>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <p><span class="md-display-1">Types</span></p>

        <div class="spacer"></div>

    <span class="md-title">Checkbox</span>
    <ul>
<li>Select Multiple options from a set. </li>
<li>Preserve space for multiple options by using checkboxes instead of switches.  </li>
<li>Don’t use when there is only one option - Use a switch instead. </li>
    </ul>
           <md-table md-card>
            <md-table-toolbar>
              <h1 class="md-title">Specs </h1>
            </md-table-toolbar>

            <md-table-row>
              <md-table-cell>Active color:</md-table-cell>
              <md-table-cell>#FFC107, Opacity 100%</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Inactive color:</md-table-cell>
              <md-table-cell>#000000, Opacity 54%</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Disabled color:</md-table-cell>
              <md-table-cell>#000000, Opacity 26%</md-table-cell>
            </md-table-row>
        </md-table> 

<div class="spacer"></div>
<div class="spacer"></div>

<p><span class="md-title">Radio Button:</span></p>
<ul>
<li>Select one option from a set. </li>
<li>Use for exclusive selection if user needs to see all available options. </li>
</ul>

<md-table md-card>
            <md-table-toolbar>
              <h1 class="md-title">Specs </h1>
            </md-table-toolbar>

            <md-table-row>
              <md-table-cell>Active color:</md-table-cell>
              <md-table-cell>#FFC107, Opacity 100%</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Inactive color:</md-table-cell>
              <md-table-cell>#000000, Opacity 54%</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Disabled color:</md-table-cell>
              <md-table-cell>#000000, Opacity 26%</md-table-cell>
            </md-table-row>
        </md-table> 

<div class="spacer"></div>
<div class="spacer"></div>

<span class="md-title">Switch</span>
<ul>
<li>Toggle the state of a single setting option.</li>
<li>The option and the state it is in, should be clear from the corresponding inline-label. </li>
</ul>

<md-table md-card>
            <md-table-toolbar>
              <h1 class="md-title">Specs </h1>
            </md-table-toolbar>

            <md-table-row>
              <md-table-cell>Thumb on:</md-table-cell>
              <md-table-cell>#FFC107, Opacity 100%</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Track on:</md-table-cell>
              <md-table-cell>#FFC107, Opacity 50%</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Thumb off:</md-table-cell>
              <md-table-cell>#FAFAFA, Opacity 100%</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Track off:</md-table-cell>
              <md-table-cell>#000000, Opacity 38%</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Thumb disabled:</md-table-cell>
              <md-table-cell>#BDBDBD, Opacity 100%</md-table-cell>
            </md-table-row>

            <md-table-row>
              <md-table-cell>Track disabled:</md-table-cell>
              <md-table-cell>#000000, Opacity 12%</md-table-cell>
            </md-table-row>
        </md-table> 



  </div>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss" scoped>
.md-card {
  margin-left: 24px;
  max-width: 860px;
}
</style>
