<template>
  <div>

    <span class="md-display-3">Shopping cart</span>
    <p>Some info about the shopping cart</p>
    <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <p><span class="md-display-1">Specs:</span></p>
    <p><img src="/images/shopping-cart/ShoppingCartSpecs.png" /></p>

    <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <p><span class="md-display-1">Behavior:</span></p>
    <p><img src="/images/shopping-cart/ShoppingPageBehavior.png" /></p>

    <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <p><span class="md-display-1">Example:</span></p>
    <p><img src="/images/shopping-cart/Shopping860.png" /></p>


    

  </div>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss" scoped>

</style>
