<template>
  <div>

    <span class="md-display-3">Sidesheets</span>

      <p>Side sheets are surfaces containing supplementary content that are anchored to the left or right edge of the screen.</p>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <span class="md-display-1">Usage</span>
    <p>Side sheets are supplementary surfaces primarily used on tablet and desktop.</p>

    <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <span class="md-display-1">Anatomy</span>
    <p>Side sheets are anchored to the left or right edge of the screen. They are a fixed width and typically span the height of the screen. Sidesheets should have a width of 256 or 320px depending on its content.</p>
 
<p>Sidesheets can display a wide variety of content and layouts, ranging from a list of actions to supplemental content in a tabular layout. In general, sidesheets should display supporting content to the main content on the screen or a detail record on the screen (e.g., filters, metadata, detail data, contextual data, etc.)</p>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<span class="md-display-1">Behavior</span>
    <p>Side sheets can be vertically scrolled independent of the rest of the UI. This allows their scroll position and contents to persist while the page is scrolled, and vice versa.</p>
 
<p>Side sheets cannot be horizontally scrolled.</p>

<p><img src="/images/sidesheets/side sheet scroll.png" /></p>

    <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<span class="md-display-1">Pairing with navigation drawers</span>
<p>Side sheets should be placed on the opposite side of a side navigation drawer to avoid obstructing the UI or causing confusion about the sheet’s functionality.</p>
 
<p>In general, sidesheets should be paired with collapsible side navigation drawers to maximize screen real estate.</p>
 <div class="spacer"></div>
<p>They come in two types:</p>
 <div class="spacer"></div>
<span class="md-title">Standard side sheets</span>
<p>Standard side sheets display content that complements the screen’s primary content. They remain visible while users interact with primary content.</p>
 
<p>Common uses include:</p>
<ul>
<li>Displaying a list of actions that affect the screen’s primary content, such as filters</li>
<li>Displaying supplemental content and features</li>
</ul>
<div class="spacer"></div>
<span class="md-title">Modal side sheets</span>
<p>Modal side sheets are used on mobile instead of standard side sheets, due to limited screen size. They can display the same types of content as standard side sheets, but must be dismissed in order to interact with the underlying content.</p>
 
<p>A modal side sheet may also be used in cases where there is not enough screen real estate for the main content plus a side-sheet.</p> 

<p>Common examples include:</p>
<ul>
<li>Standard filters that are too large to fit next to a data table.</li>
<li>Data tables that are too large to accommodate open filters.</li>
<li>Persistent left-hand navigation does not afford enough space for a sidesheet.</li>
</ul>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<span class="md-display-1">Specs</span>
<p><img src="/images/sidesheets/Side sheet spec.png" /></p>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>


<span class="md-display-1">Examples</span>
<p><img src="/images/sidesheets/notifications sidesheet.png" /></p>
<div class="spacer"></div>

<p><img src="/images/sidesheets/tasks sidesheet copy.png" /></p>
<div class="spacer"></div>

<p><img src="/images/sidesheets/tasks sidesheet b copy.png" /></p>
<div class="spacer"></div>

<p><img src="/images/sidesheets/TIM location sidesheet Copy.png" /></p>
<div class="spacer"></div>

<p><img src="/images/sidesheets/TIM person sidesheet Copy.png" /></p>
<div class="spacer"></div>

  </div>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss" scoped>

</style>
