<template>
  <div>

    <span class="md-display-3">Stepper</span>
      <p>Steppers display progress through a sequence of logical and numbered steps. They may also be used for navigation. Steppers may display a transient feedback message after a step is saved. Avoid using steppers to break up sections in a short form, or multiple times on one page.</p>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <span class="md-display-1">Normal Stepper</span>
      <p><img src="/images/stepper/Normal Stepper.png" /></p>

      <p><span class="md-title">Types of steps</span></p>
      <div class="spacer"></div>
      <span class="md-body-2">Editable steps</span>
      <p>Editable steps allow users to return later to edit a step. These are ideal for workflows that involve editing steps within a session.</p>
      
      <div class="spacer"></div>
      
      <span class="md-body-2">Non editable steps</span>
      <p>Non-editable steps should be used when:</p>
      <ul>
        <li>Users cannot edit a step later</li>
        <li>Step editing poses a distraction risk to form completion</li>
      </ul>

      <div class="spacer"></div>

      <span class="md-body-2">Optional steps</span>
      <p>Optional steps within a linear flow should be marked as optional.</p>


      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>


      <span class="md-display-1">Specs</span>
      <p><img src="/images/stepper/Normal Stepper Specs.png" /></p>
      
    
          <md-table md-card>
            <md-table-toolbar>
        <h1 class="md-title">Active Stepper</h1>
      </md-table-toolbar>
      <md-table-row>
        <md-table-cell>Stepper Circle Size:</md-table-cell>
        <md-table-cell>24px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Stepper Circle Color:</md-table-cell>
        <md-table-cell>#3F51B5</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Stepper Number Text:</md-table-cell>
        <md-table-cell>12pt Roboto Regular</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Stepper Number Color:</md-table-cell>
        <md-table-cell>#FFFFFF</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Active Step Text:</md-table-cell>
        <md-table-cell>14pt Roboto Medium</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Active Step Text Color:</md-table-cell>
        <md-table-cell>#000000 87%</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Warning Color:</md-table-cell>
        <md-table-cell>#F44635</md-table-cell>
      </md-table-row>

  </md-table>

<div class="spacer"></div>

<md-table md-card>
<md-table-toolbar>
        <h1 class="md-title">Inactive Stepper</h1>
      </md-table-toolbar>
      <md-table-row>
        <md-table-cell>Stepper Circle Size:</md-table-cell>
        <md-table-cell>24px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Stepper Circle Color:</md-table-cell>
        <md-table-cell>#000000 38%</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Stepper Number Text:</md-table-cell>
        <md-table-cell>12pt Roboto Regular</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Stepper Number Color:</md-table-cell>
        <md-table-cell>#FFFFFF</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Inactive Step Text:</md-table-cell>
        <md-table-cell>14pt Roboto Regular</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Inactive Step Text Color:</md-table-cell>
        <md-table-cell>#000000 38%</md-table-cell>
      </md-table-row>

  </md-table>

<div class="spacer"></div>

<md-table md-card>
<md-table-toolbar>
        <h1 class="md-title">Inactive stepper (non-linear)</h1>
      </md-table-toolbar>
      <md-table-row>
        <md-table-cell>Inactive Step Text:</md-table-cell>
        <md-table-cell>14pt Roboto Regular</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Active Step Text Color:</md-table-cell>
        <md-table-cell>#000000 54%</md-table-cell>
      </md-table-row>

  </md-table>

<div class="spacer"></div>

<md-table md-card>
<md-table-toolbar>
        <h1 class="md-title">Optional Steps</h1>
      </md-table-toolbar>
      <md-table-row>
        <md-table-cell>Optional Text Size:</md-table-cell>
        <md-table-cell>12pt</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Optional Text Color:</md-table-cell>
        <md-table-cell>#000000 54%</md-table-cell>
      </md-table-row>

  </md-table>



      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<span class="md-display-1">Alt Stepper</span>
      <p><img src="/images/stepper/Alt Stepper.png" /></p>


      <span class="md-title">Specs</span>
      <p><img src="/images/stepper/Alt Stepper Specs.png" /></p>
      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <span class="md-display-1">Vertical stepper</span>
      <p><img src="/images/stepper/Vertical Stepper.png" /></p>

      <span class="md-title">Specs</span>
      <p><img src="/images/stepper/Vertical Stepper Specs.png" /></p>
      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

      <span class="md-display-1">Mobile stepper</span>
      <p><img src="/images/stepper/Mobile Stepper 1.png" /></p>

      <p><img src="/images/stepper/Mobile Stepper 2.png" /></p>


      <p><img src="/images/stepper/Mobile Stepper 3.png" /></p>


  </div>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss" scoped>
.md-card {
  margin: 0px;
  max-width: 860px;
}
</style>
