<template>
  <div>

    <span class="md-display-3">Tabs</span>
    <p>Tabs organize content across different screens, data sets, and other interactions.</p>
    
    <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <p><span class="md-display-1">Specs</span></p>
    <p><img src="/images/tabs/TabsSpecs.png" /></p>


      <p>Maximum width: 264px</p>
         <p>Minimum Width: 160px (72px for smaller views.) </p>
<p>Height: 48 Except for with icons & Text</p>
<div class="spacer"></div>
<p>Padding:	</p>
<ul>
    <li>12 px on left+right, except for desktop.</li>
		<li>20px on bottom of single line. </li>
		<li>12px under 2 lines of text. </li>
        </ul>
        <div class="spacer"></div>
<p>Text:  Roboto medium, All caps, Horizontally centered. 14pts normally, 12pts for 2 lines of text.</p>
<div class="spacer"></div>
<p>Color:</p>
<ul>
	<li>White BG: active text: #3F51B5, unfocused: 52% #000000</li>
	<li>Indigo BG: active text: #FFFFFF, unfocused: 52% #000000, BG color: #3F51B5</li>
</ul>
<div class="spacer"></div>
<p>Indicator: Height: 2px</p>
<div class="spacer"></div>
		<p>Color: #FFC107</p>
<p>Alignment: Centered for tablet, full width for mobile.</p>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <p><span class="md-display-1">Tabs with Icons & Text:</span></p>
    <p>Height: 72px</p>
<p>Icons: 24X24</p>
<p>Alignment: Text and icon are centered horizontally in tab. </p>
<p>Padding: 10px between icon & text, 16px under text. </p>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <p><span class="md-display-1">Tabs with only Icons: </span></p>
    <p>Height: 48px</p>
<p>Icons: 24X24</p>
<p>Alignment: Centered, horizontally and vertically.  </p>
<p>Padding: 12px under icon</p>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <p><span class="md-display-1">Desktop tabs </span></p>
    <p>Text: 13pts </p>
<p>Padding: 24, left+right of text. </p>
<p>Alignment: Centered, OR First tab left padding aligns with content margin. </p>
<p>Default left align, 2 tabs can be centered if needed. </p>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <p><span class="md-display-1">Standard </span></p>
    <table>
  <tbody>
    <tr>
      <td data-column="First Name">Maximum width:</td>
      <td data-column="Last Name">264px</td>
    </tr>
    <tr>
      <td data-column="First Name">Minimum Width:</td>
      <td data-column="Last Name">160px (72px for smaller views.) </td>
    </tr>
  <tr>
      <td data-column="First Name">Height: </td>
      <td data-column="Last Name">48 Except for with icons&Text</td>
    </tr>
  <tr>
      <td data-column="First Name">Padding:</td>
      <td data-column="Last Name">12 px on left+right, except for desktop. 20px on bottom of single line. 12px under 2 lines of text. </td>
    </tr>
  <tr>
      <td data-column="First Name">Text: </td>
      <td data-column="Last Name">Roboto medium, All caps, Horizontally centered. 14pts normally, 12pts for 2 lines of text.</td>
    </tr>
  <tr>
      <td data-column="First Name">White BG:</td>
      <td data-column="Last Name">active text: #3F51B5, unfocused: 52% #000000</td>
    </tr>
  <tr>
      <td data-column="First Name">Indigo BG:</td>
      <td data-column="Last Name">active text: #FFFFFF, unfocused: 52% #000000, BG color: #3F51B5</td>
    </tr>
  <tr>
      <td data-column="First Name">Indicator: Height: </td>
      <td data-column="Last Name">2px</td>
    </tr>
  <tr>
      <td data-column="First Name">Indicator: Color:</td>
      <td data-column="Last Name">#FFC107</td>
    </tr>
  <tr>
      <td data-column="First Name">Alignment:</td>
      <td data-column="Last Name">Centered for tablet, full width for mobile. </td>
    </tr>
  </tbody>
</table>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<p><span class="md-display-1">Tabs with Icons & Text:  </span></p>
<table>
  <tbody>
  <tr>
      <td data-column="First Name">Height: </td>
      <td data-column="Last Name">72px</td>
    </tr>
  <tr>
      <td data-column="First Name">Icons: </td>
      <td data-column="Last Name">24X24</td>
    </tr>
  <tr>
      <td data-column="First Name">Alignment: </td>
      <td data-column="Last Name">Text and icon are centered horizontally in tab.</td>
    </tr>
  <tr>
      <td data-column="First Name">Padding: </td>
      <td data-column="Last Name">10px between icon & text, 16px under text. </td>
    </tr>
  </tbody>
</table>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<p><span class="md-display-1">Tabs with only Icons:   </span></p>
<table>
  <tbody>
    <tr>
      <td data-column="First Name">Height:</td>
      <td data-column="Last Name">48px</td>
    </tr>
  <tr>
      <td data-column="First Name">Icon:</td>
      <td data-column="Last Name">24X24</td>
    </tr>
  <tr>
      <td data-column="First Name">Alignment: </td>
      <td data-column="Last Name">Centered, horizontally and vertically.</td>
    </tr>
  <tr>
      <td data-column="First Name">Padding:</td>
      <td data-column="Last Name">12px under icon.</td>
    </tr>
  </tbody>
</table>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<p><span class="md-display-1">Desktop tabs:</span></p>
<table>
  <tbody>
  <tr>
      <td data-column="First Name">Text:</td>
      <td data-column="Last Name">13pts </td>
    </tr>
    <tr>
      <td data-column="First Name">Padding:</td>
      <td data-column="Last Name">24, left+right of text.</td>
    </tr>  <tr>
      <td data-column="First Name">Alignment:</td>
      <td data-column="Last Name">Centered, OR First tab left padding aligns with content margin. 
Default left align, 2 tabs can be centered if needed. </td>
    </tr>
  </tbody></table>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<p><span class="md-display-1">Examples:</span></p>
<p><span class="md-title">Tabs with icons & text</span></p>
<p><img src="/images/tabs/Tabs-IconText.png" /></p>

<div class="spacer"></div>

<p><span class="md-title">Tabs - Munis</span></p>
<p><img src="/images/tabs/Tabs-Munis.png" /></p>

<div class="spacer"></div>

<p><span class="md-title">Tabs - Colored background</span></p>
<p><img src="/images/tabs/Tabs-ColoredBG.png" /></p>

  </div>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss" scoped>

</style>
