<template>
  <div>

<div class="fullScreen">
      

<md-toolbar class="md-dense">
  <div class="md-layout">
      <div class="md-layout-item"><md-tooltip>Add</md-tooltip><md-icon>add</md-icon></div>
      <div class="md-layout-item"><md-tooltip>Save</md-tooltip><md-icon>save</md-icon></div>
      <div class="md-layout-item"><md-tooltip>Permissions</md-tooltip><md-icon>security</md-icon></div>
      <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>lock</md-icon></div>
      <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>delete</md-icon></div>
      <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>phonelink_lock</md-icon></div>
  </div>
  <div class="md-layout">
    <div class="md-layout-item"><div class="toolbarDivider"></div></div>
  </div>
  <div class="md-layout">
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>cloud_upload</md-icon></div>
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>scanner</md-icon></div>
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>create_new_folder</md-icon></div>
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>donut_large</md-icon></div>
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>subdirectory_arrow_right</md-icon></div>
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>email</md-icon></div>
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>print</md-icon></div>
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>edit</md-icon></div>
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>format_shapes</md-icon></div>
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>remove_circle_outline</md-icon></div>
    </div>

    <div class="md-layout">
    <div class="md-layout-item"><div class="toolbarDivider"></div></div>
  </div>
    
    <div class="md-layout">
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>format_paint</md-icon></div>
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>texture</md-icon></div>
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>brush</md-icon></div>
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>note</md-icon></div>
    </div>

    <div class="md-layout">
    <div class="md-layout-item"><div class="toolbarDivider"></div></div>
  </div>

    <div class="md-layout">
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>scatter_plot</md-icon></div>
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>format_strikethrough</md-icon></div>
    </div>

    <div class="md-layout">
    <div class="md-layout-item"><div class="toolbarDivider"></div></div>
  </div>

    <div class="md-layout">
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>history</md-icon></div>
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>info_outline</md-icon></div>
    </div>

    <div class="md-layout">
    <div class="md-layout-item"><div class="toolbarDivider"></div></div>
  </div>
    
    <div class="md-layout">
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>clear</md-icon></div>
    <div class="md-layout-item"><md-tooltip>This is a tooltip!</md-tooltip><md-icon>menu</md-icon></div>
    </div>

</md-toolbar>

 <img src="/images/testPage/Artboard.png"/>


</div>

  </div>
</template>

<script>
import MainLayout from "../layouts/Main.vue";

export default {
  components: {
    MainLayout
  }
};

let ricon = '';
var iconArray = [];

let grabRandomIcon = function () {
    var ricon = '';
    let randomicon = iconArray[Math.floor(Math.random() * iconArray.length)];
    ricon = randomicon.split(" ")[0]; 
    return ricon;
}

var i=0;
function test(){
for(i=0; i<=25; i++) {
    console.log();
}
}

test();

function iconNames () {
  var icons = this.responseText.split("\n");
  iconArray = iconArray.concat(icons);
  console.log(iconArray);
  console.log("Your random ICON IS " + grabRandomIcon());
}

var xhr_icon = new XMLHttpRequest();

xhr_icon.addEventListener("load", iconNames);
xhr_icon.open("GET", "https://raw.githubusercontent.com/google/material-design-icons/master/iconfont/codepoints");
xhr_icon.send();




</script>




<style lang="scss" scoped>
@import "~vue-material/src/components/MdAnimation/variables.scss";
@import "~vue-material/src/theme/engine.scss";

.md-icon {
  color: rgba(0,0,0,0.54);
}

.md-layout-item {
  padding-right: 8px;
    padding-left: 8px;
}

  
  .toolbarDivider {
     background-color: black;
     width: 20px;
     height:100%;
  }


.fullScreen {
width:100vw;
height:100vw;
margin: 0px;
padding: 0px; 
}

/* icon color       */
$icolor: #fff;      

/* background color       */
$backgroundColor: red;
$backgroundColorNumber:  600;
$backgroundColorFormatted: md-get-palette-color($backgroundColor, $backgroundColorNumber);

/* shadow color       */
$shadowColorFormatted: md-get-palette-color($backgroundColor, $backgroundColorNumber + 100);



$bradius: 50;       /* bg border radius */
$length: 64;       /* box length       */

@mixin long-shadow ($shadowColorFormatted, $length) {
  $list: ();
  @for $i from 1 through $length {
    $list: append($list, $shadowColorFormatted $i+px $i+px, comma);
  }
  text-shadow: $list;
}

#icon-box span {
  display: block;
  position: absolute;
  height: $length+px;
  width: $length+px;
  color: $icolor;
  @include long-shadow ($shadowColorFormatted, $length);
}

@mixin border-radius ($bradius) {  
  -webkit-border-radius: $bradius+px;
  -moz-border-radius: $bradius+px;
  -ms-border-radius: $bradius+px;
  border-radius: $bradius+px;
}

#icon-box {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: $length+px;
  height: $length+px;
  font-size: $length/2+px;
  line-height: $length+px;
  background-color: $backgroundColorFormatted;
  @include border-radius ($bradius);
}

/* Help Styles */

#container {
  text-align: center;
}

#container div {
  display: inline-block;
  margin: 24px;
}

.material-icons {
  font-size: 40px;
  padding: 12px;
}


</style>
