<template>
  <div>

    <span class="md-display-3">Text fields</span>


      <p>Text fields allow users to input, edit, and select text.</p>
      <p>Text fields typically reside in forms but can appear in other places, like dialog boxes and search.</p>
    
        <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>
        <span class="md-display-1">Form layout</span>
        <p><img src="/images/text-field/form-layout.png" /></p>
        
        <md-table md-card>

      <md-table-row>
        <md-table-cell>Icon size:</md-table-cell>
        <md-table-cell>24px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Vertical space between label & underline:</md-table-cell>
        <md-table-cell>32px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Vertical space between inputs:</md-table-cell>
        <md-table-cell>40px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Horizontal space between inputs:</md-table-cell>
        <md-table-cell>16px (in some cases 24px can be used)</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Icon color:</md-table-cell>
        <md-table-cell>#000000 @ .54 opacity</md-table-cell>
      </md-table-row>

  </md-table>



        <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>
        <span class="md-display-1">Formatted inputs</span>
        <p><img src="/images/text-field/formatted-inputs.png" /></p>

        <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

        <span class="md-display-1">Text area</span>
        <p>Text areas are taller than text fields and wrap overflow text onto a new line.  They scroll vertically when the cursor reaches the bottom of the field.</p>

        <ul>
          <li>Description</li>
          <li>Comments</li>
          <li>Notes</li>
          </ul>
          <p><img src="/images/text-field/Text area.png" /></p>
        <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

        <span class="md-display-1">Input states</span>
        <p><img src="/images/text-field/input-states.png" /></p>

        <md-table md-card>

      <md-table-row>
        <md-table-cell>Container size:</md-table-cell>
        <md-table-cell>24px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Icon size:</md-table-cell>
        <md-table-cell>24px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Icon padding:</md-table-cell>
        <md-table-cell>16px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Button color:</md-table-cell>
        <md-table-cell>#FFC107</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Icon color:</md-table-cell>
        <md-table-cell>White</md-table-cell>
      </md-table-row>

  </md-table>


        <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>
        <span class="md-display-1">Munis example</span>
        <p><img src="/images/text-field/munis-example.png" /></p>
    
    </div>

    

      

  </div>
</template>

<script>

</script>
<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss" scoped>
.md-card {
  margin: 0px;
  max-width: 860px;
}
</style>
