<template>
  <div>
    <span class="md-display-3">Tooltips</span>

      <p>Tooltips display informative text when users hover over, focus on, or tap an element.</p>
      <ul>
          <li>Tooltips appear on hover, focus, or touch, and disappear after a short duration.</li>
          <li>Tooltips are always paired nearby the element with which they are associated.</li>
          <li>Tooltips only include short, descriptive text.</li>
      </ul>

    <p>A tooltip is displayed upon tapping and holding a screen element or component (on mobile) or hovering over it (desktop). Continuously display the tooltip as long as the user long-presses or hovers over the element. On desktop, tooltips appear in the center of click targets and stay in place while cursor moves within the target.</p>
    
    <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <p><span class="md-display-1">Desktop - Example</span></p>
    <div class="imgContainer">
        <img src="/images/tooltips/Tooltips Desktop Example.png" alt="Avatar" class="image">
        <div class="imgOverlay">
    <div class="imgText">
        <a href="#" style="text-decoration: none;" data-featherlight="/images/tooltips/Tooltips Desktop Example.png"><md-icon class="md-size-5x md-primary">zoom_in</md-icon></a>
    </div>
  </div>
</div>
    
<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<p><span class="md-display-1">Mobile - Example</span></p>
    <img src="/images/tooltips/Tooltips Mobile Example.png" />
    
<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <p><span class="md-display-1">Timing</span></p>
<p>Display the tooltip for 1.5 seconds. If the user takes another action before that time ends, the tooltip will disappear.</p>
 
 <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<p><span class="md-display-1">Motion</span></p>
<p>Over 150ms, tooltips fade in and scale up using the deceleration curve. They fade out over 75ms.</p>


    <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <p><span class="md-display-1">Desktop - Specs</span></p>
    <p><img src="/images/tooltips/Tooltips Desktop.png" /></p>
         
    <md-table md-card>

      <md-table-row>
        <md-table-cell>Tooltip Color:</md-table-cell>
        <md-table-cell>#616161 90%</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Height:</md-table-cell>
        <md-table-cell>24dp</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Corner radius:</md-table-cell>
        <md-table-cell>4dp</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Left and right text padding:</md-table-cell>
        <md-table-cell>8dp</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Top margin:</md-table-cell>
        <md-table-cell>16dp</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Tooltip text:</md-table-cell>
        <md-table-cell>Centered</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Text size:</md-table-cell>
        <md-table-cell>10dp</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Text color:</md-table-cell>
        <md-table-cell>#FFFFFF</md-table-cell>
      </md-table-row>

  </md-table>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

<p><span class="md-display-1">Mobile - Specs</span></p>
<p><img src="/images/tooltips/Tooltips Mobile.png" /></p>

    <md-table md-card>

      <md-table-row>
        <md-table-cell>Tooltip Color:</md-table-cell>
        <md-table-cell>#616161 90%</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Height:</md-table-cell>
        <md-table-cell>32dp</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Corner radius:</md-table-cell>
        <md-table-cell>4dp</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Left and right text padding:</md-table-cell>
        <md-table-cell>16dp</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Top margin:</md-table-cell>
        <md-table-cell>24dp</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Tooltip text:</md-table-cell>
        <md-table-cell>Centered</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Text size:</md-table-cell>
        <md-table-cell>14dp</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Text color:</md-table-cell>
        <md-table-cell>#FFFFFF</md-table-cell>
      </md-table-row>

  </md-table>

  </div>
</template>

  <script>
import MainLayout from "../layouts/Main.vue";

export default {
  components: {
    MainLayout
  }
};

</script>

<style lang="scss" scoped>
.md-card {
  margin: 0px;
  max-width: 860px;
}
</style>
