<template>
  <div>

    <span class="md-display-3">Toolbar</span>


      <p>The Munis Toolbar is used to house actions for the current active application. It functions as a ribbon that attaches directly to the Omnibar and sits above all other content. It is used primarily in legacy applications, and should be avoided in future application designs.
The contents of the toolbar must have an icon and a text label associated with it. If there is no icon for a specific action or function, then it must go in the overflow menu under "More."</p>

<p>Tooltips can be used to give a quick description of the action or function, as well as used to show shortcut keys.</p>

<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>
<span class="md-display-1">Specs</span>
<p><img src="/images/toolbar/toolbar-specs.png" /></p>

        <md-table md-card>

      <md-table-row>
        <md-table-cell>Toolbar BG Color:</md-table-cell>
        <md-table-cell>#FFFFFF</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Icon size:</md-table-cell>
        <md-table-cell>24px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Icon color:</md-table-cell>
        <md-table-cell>#000000 54%</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Label Font Size:</md-table-cell>
        <md-table-cell>10dp</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Label Color:</md-table-cell>
        <md-table-cell>#000000 54%</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Text Label Max Width:</md-table-cell>
        <md-table-cell>40px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Max Label Length:</md-table-cell>
        <md-table-cell>Two lines</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Vertical Divider Height:</md-table-cell>
        <md-table-cell>40px</md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Vertical Divider Color:</md-table-cell>
        <md-table-cell>#000000 54%</md-table-cell>
      </md-table-row>

  </md-table>


<div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>
<span class="md-display-1">Menu</span>
<p><img src="/images/toolbar/toolbar-menu.png" /></p>

    

      

  </div>
</template>

<script>

</script>
<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss" scoped>
.md-card {
  margin: 0px;
  max-width: 860px;
}
</style>
