<template>
  <div>
  <template>
    <span class="md-display-3">Typography</span>


      <p>A typeface is a collection of letters. While each letter is unique, certain shapes are shared across letters. A typeface represents shared patterns across a collection of letters.</p>
      <p>Typefaces that are selected for their style, legibility, and readability are most effective when following the fundamental principles of typographic design.</p>
      
      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>
      
      <span class="md-display-1">Examples of roboto</span>
      <p><img src="/images/typography/style-typography-roboto1.png" /></p>

      <div class="spacer"></div><md-divider></md-divider><div class="spacer"></div>

    <span class="md-display-4">Display 4</span>
    <span class="md-display-3">Display 3</span>
    <span class="md-display-2">Display 2</span>
    <span class="md-display-1">Display 1</span>
    <span class="md-headline">Headline</span>
    <span class="md-title">Title</span>
    <span class="md-subheading">Subheading</span>
    <span class="md-body-2">Body 2</span>
    <span class="md-body-1">Body 1</span>
    <span class="md-caption">Caption</span>
    <md-button>Buttons</md-button>
</template>
  </div>
</template>

<script>

</script>
<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    }
  }
</script>

<style lang="scss" scoped>
  div > * {
    margin: 24px 0;
    display: block;
  }
</style>
