<template>
<div>

<md-list>
    <md-list-item href="buttons">Home</md-list-item>
    <md-list-item v-for="item in orderedNav" :key="item.id" :to="item.pageTitle.replace(/ /g,'-').toLowerCase()">{{ item.pageTitle }}</md-list-item>
</md-list>

</div>
</template>

<script>
module.exports = {
  data: function() {
    return {
      items: [
        {
          pageTitle: "Floating action button"
        },
        {
          pageTitle: "Elevation"
        },
        {
          pageTitle: "Side sheets"
        },
        {
          pageTitle: "Header"
        },
        {
          pageTitle: "Guided Conversations"
        },
        {
          pageTitle: "Browse"
        },
        {
          pageTitle: "Data table"
        },
        {
          pageTitle: "Chips"
        },
        {
          pageTitle: "Text field"
        },
        {
          pageTitle: "Forms"
        },
        {
          pageTitle: "Shopping cart"
        },
        {
          pageTitle: "Buttons"
        },
        {
          pageTitle: "Tabs"
        },
        {
          pageTitle: "Progress & indicators"
        },
        {
          pageTitle: "Typography"
        },
        {
          pageTitle: "Page layout"
        },
        {
          pageTitle: "Navigation drawer"
        },
        {
          pageTitle: "Toolbar"
        },
        {
          pageTitle: "Errors"
        },
        {
          pageTitle: "Tooltips"
        }
      ]
    };
  },

  computed: {
    orderedNav: function() {
      return _.orderBy(this.items, "pageTitle");
    },
    isActive: function() {
      return this.href === this.$root.currentRoute;
    }
  }
};
</script>


<style scoped>
</style>