<template>
<div>
<div class="full-control">
    <div class="list">
      <md-list>
        <md-list-item router-link v-bind:to="'/'">Home</md-list-item>
        <md-list-item  router-link v-bind:to="'/about'">About</md-list-item>
        <!-- <md-list-item  router-link v-bind:to="'/testPage'">Test Page</md-list-item> -->
        <md-divider></md-divider>
        <md-list-item md-expand>
          <span class="md-list-item-text">Components</span>
          <md-list slot="md-expand">
            <md-list-item router-link v-bind:to="'autocomplete'"><span class="paddingLeft">Autocomplete</span></md-list-item>
            <md-list-item router-link v-bind:to="'buttons'"><span class="paddingLeft">Buttons</span></md-list-item>
            <md-list-item  router-link v-bind:to="'cards'"><span class="paddingLeft">Cards</span></md-list-item>
            <md-list-item  router-link v-bind:to="'chips'"><span class="paddingLeft">Chips</span></md-list-item>
            <md-list-item  router-link v-bind:to="'data-table'"><span class="paddingLeft">Data table</span></md-list-item>
            <md-list-item  router-link v-bind:to="'dialogs'"><span class="paddingLeft">Dialogs</span></md-list-item>
            <md-list-item  router-link v-bind:to="'floating-action-button'"><span class="paddingLeft">Floating action button</span></md-list-item>
            <md-list-item  router-link v-bind:to="'list'"><span class="paddingLeft">List</span></md-list-item>
            <md-list-item  router-link v-bind:to="'navigation-drawer'"><span class="paddingLeft">Navigation drawer</span></md-list-item>
            <md-list-item  router-link v-bind:to="'overflow-menu'"><span class="paddingLeft">Overflow menu</span></md-list-item>
            <md-list-item  router-link v-bind:to="'progress-&-indicators'"><span class="paddingLeft">Progress & indicators</span></md-list-item>
            <md-list-item  router-link v-bind:to="'selection-controls'"><span class="paddingLeft">Selection Controls</span></md-list-item>
            <md-list-item  router-link v-bind:to="'sidesheets'"><span class="paddingLeft">Side sheets</span></md-list-item>
            <md-list-item  router-link v-bind:to="'stepper'"><span class="paddingLeft">Stepper</span></md-list-item>
            <md-list-item  router-link v-bind:to="'tabs'"><span class="paddingLeft">Tabs</span></md-list-item>
            <md-list-item  router-link v-bind:to="'text-field'"><span class="paddingLeft">Text field</span></md-list-item>
            <md-list-item  router-link v-bind:to="'toolbar'"><span class="paddingLeft">Toolbar</span></md-list-item>
            <md-list-item  router-link v-bind:to="'tooltips'"><span class="paddingLeft">Tooltips</span></md-list-item>
          </md-list>
        </md-list-item>


        <md-list-item md-expand md-expanded.sync="navExpanded">
          <span class="md-list-item-text">Pages</span>
          <md-list slot="md-expand">
            <md-list-item  router-link v-bind:to="'browse'"><span class="paddingLeft">Browse</span></md-list-item>
            <md-list-item  router-link v-bind:to="'data-entry'"><span class="paddingLeft">Data entry</span></md-list-item>
            <md-list-item  router-link v-bind:to="'Forms'"><span class="paddingLeft">Forms</span></md-list-item>
            <md-list-item  router-link v-bind:to="'page-layout'"><span class="paddingLeft">Page layout</span></md-list-item>
            <md-list-item  router-link v-bind:to="'search'"><span class="paddingLeft">Search page</span></md-list-item>
          </md-list>
        </md-list-item>

        <md-list-item md-expand>
          <span class="md-list-item-text">Specialty components</span>
          <md-list slot="md-expand">
            <md-list-item  router-link v-bind:to="'Calendar'"><span class="paddingLeft">Calendar</span></md-list-item>
            <md-list-item  router-link v-bind:to="'filters-&-facets'"><span class="paddingLeft">Facets & filters</span></md-list-item>
            <md-list-item  router-link v-bind:to="'guided-conversations'"><span class="paddingLeft">Guided conversation</span></md-list-item>
            <md-list-item  router-link v-bind:to="'shopping-cart'"><span class="paddingLeft">Shopping cart</span></md-list-item>
          </md-list>
        </md-list-item>

        <md-list-item md-expand>
          <span class="md-list-item-text">Style</span>
          <md-list slot="md-expand">
            <md-list-item  router-link v-bind:to="'color'"><span class="paddingLeft">Color</span></md-list-item>
            <md-list-item router-link v-bind:to="'elevation'"><span class="paddingLeft">Elevation</span></md-list-item>
            <md-list-item  router-link v-bind:to="'icons'"><span class="paddingLeft">Icons</span></md-list-item>
            <md-list-item  router-link v-bind:to="'typography'"><span class="paddingLeft">Typography</span></md-list-item>
          </md-list>
        </md-list-item>

        <md-list-item md-expand>
          <span class="md-list-item-text">Patterns</span>
          <md-list slot="md-expand">
            <md-list-item  router-link v-bind:to="'emptystates'"><span class="paddingLeft">Empty States</span></md-list-item>
            <md-list-item  router-link v-bind:to="'errors'"><span class="paddingLeft">Errors</span></md-list-item>
          </md-list>
        </md-list-item>

      </md-list>
      <md-divider></md-divider>
      <div class="md-layout">
    <div class="md-layout-item">
      <p><a href="mailto:esther.morrow@tylertech.com?subject=Munis Pattern Library - contact button"><img src="/images/contact-graphic.png" /></a></p>
    </div>
  </div>


      <div style="text-align: center; margin: 0px auto;"><span class="md-subheading"><a href="mailto:esther.morrow@tylertech.com?subject=Munis Pattern Library - contact button">Contact UX</a></span></div>

    </div>
  </div>


</div>
</template>

<script>



module.exports = {

  data: function () {
    return {      
        items: [
            {
              pageTitle: 'Floating action button',
            },
            {
              pageTitle: 'Elevation'
            },
            {
                pageTitle: 'Side sheets'
              },
              {
                pageTitle: 'Header'
              },
              {
                pageTitle: 'Guided Conversations'
              },
              {
                pageTitle: 'Browse'
              },
              {
                pageTitle: 'Data table'
              },
              {
                pageTitle: 'Chips'
              },
              {
                pageTitle: 'Text field'
              },
              {
                pageTitle: 'Forms'
              },
              {
                pageTitle: 'Shopping cart'
              },
              {
                pageTitle: 'Buttons'
              },
              {
                pageTitle: 'Tabs'
              },
              {
                pageTitle: 'Progress & indicators'
              },
              {
                pageTitle: 'Typography'
              },
              {
                pageTitle: 'Page layout'
              },
              {
                pageTitle: 'Navigation drawer'
              },
              {
                pageTitle: 'Toolbar'
              },
              {
                pageTitle: 'Errors'
              },
              {
                pageTitle: 'Tooltips'
              },
              {
                pageTitle: 'Stepper'
              },
              {
                pageTitle: 'Autocomplete'
              },
          ],
        }
    
  },

computed: {
  orderedNav: function () {
    return _.orderBy(this.items, 'pageTitle')
  },
  isActive: function() {
      return this.href === this.$root.currentRoute;
    }
},

}

</script>


<style lang="css" scoped>
.paddingLeft {
  padding-left: 32px;
}

</style>