<template>
  <div id="app">
      <component :is="layout"></component>
  </div>
</template>

<script>
const default_layout = "Main"

export default {
  name: "app",
  computed: {
      layout(){
          return (this.$route.meta.layout || default_layout);
      }
  },

};
</script>

<style>
</style>
