<template>
  <div class="page-container">
    <md-app>
      <md-app-toolbar class="md-primary">
        <md-button class="md-icon-button hamburgerBye"  @click="menuVisible = !menuVisible">
          <md-icon>menu</md-icon>
        </md-button>
        <span class="md-title">Munis Pattern Library - Version 5.0</span>
      </md-app-toolbar>

      <md-app-drawer md-permanent="clipped" :md-active.sync="menuVisible">
        <navbar-component></navbar-component>
      </md-app-drawer>

      <md-app-content>
        <div>
        <transition name="page" mode="out-in">
          <router-view></router-view>
        </transition>
        </div>
      </md-app-content>
    </md-app>
  </div>
</template>


<script>
import VLink from "../components/VLink.vue";
import NavbarComponent from "../components/NavbarComponent.vue";

export default {
  components: { VLink, NavbarComponent },
  watch: {
    $route(to, from) {
      const currentPath = this.$route.path;  
      console.log("!!!! The Current URL is " + currentPath);
        
      this.menuVisible = false;
    }
  },
  data: () => ({
    menuVisible: false,
  })
};

  

</script>

<style lang="scss">
@import "~vue-material/dist/theme/engine.scss"; // Import the theme engine

@include md-register-theme(
  "default",
  (
    primary: md-get-palette-color(indigo, 500),
    accent: md-get-palette-color(amber, 500),
    secondary: md-get-palette-color(amber, 500)
  )
);

@import "~vue-material/dist/theme/all.scss"; // Apply the theme

.page-container {
  height: 100vh;
}

.md-app {
  min-height: 350px;
  height: 100%;
}

// Demo purposes only
.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
  border-right: 1px solid #e0e0e0;
}

.md-app-content {
  padding: 28px 32px 48px 64px;
  flex: 1;
  max-width: 956px;
  border: 0px;
}


.fiftyFour {
  color: rgba(0, 0, 0, 0.54);
}

@media screen and (max-width: 600px) {
  .md-app-content {
    padding: 28px 32px 48px 32px;
    height: 100vw;
    border: 0px;
  }
}

@media screen and (min-width: 600px) {
  .hamburgerBye {
    display: none;
  }
  .md-title {
    margin-left: 0px !important;
  }
}
</style>